<li class="activity-row draggable item-row" data-activity-id="{{ _id }}">

    {{!-- Name --}}
    <div class="activity-name item-name item-action {{ @root.rollableClass }}" role="button" aria-label="{{ name }}"
         data-action="activity-use">

        {{ dnd5e-icon img alt=name classes="activity-image item-image gold-icon" }}

        <div class="name name-stacked">
            <span class="title">{{ name }}</span>
            {{#if labels.activation}}
            <span class="subtitle">{{ labels.activation }}</span>
            {{/if}}
        </div>

    </div>

    {{!-- Columns --}}
    {{#each columns}}
        {{> (lookup . "template") entry=.. ctx=.. item=../item isActivity=true }}
    {{/each}}

</li>
