<ul class="containers unlist">
    {{#each containers}}
    <li class="container draggable" data-item-id="{{ id }}" data-uuid="{{ uuid }}">
        <a class="item-action" data-action="showDocument" data-tooltip aria-label="{{ name }}">
            {{#dnd5e-itemContext this as |ctx|}}
            {{#with ctx.capacity}}
            <div class="meter progress" role="meter" aria-valuemin="0" aria-valuenow="{{ pct }}"
                 aria-valuetext="{{ value }}" aria-valuemax="{{ max }}"
                 style="--bar-percentage: {{ pct }}%"></div>
            {{/with}}
            {{/dnd5e-itemContext}}
            <img src="{{ img }}" alt="{{ name }}" draggable="false">
        </a>
    </li>
    {{/each}}
</ul>
