<fieldset>
    <legend>{{ localize "DND5E.ADVANCEMENT.AbilityScoreImprovement.Details" }}</legend>
    <div class="form-group">
        <label>{{ localize "DND5E.ADVANCEMENT.AbilityScoreImprovement.FIELDS.cap.label" }}</label>
        <div class="form-fields">
            <input type="number" name="configuration.cap" value="{{ configuration.cap }}" min="1" step="1"
                         placeholder="{{ localize 'None' }}">
        </div>
        <p class="hint">{{ localize "DND5E.ADVANCEMENT.AbilityScoreImprovement.FIELDS.cap.hint" }}</p>
    </div>
</fieldset>
