<fieldset>
    <legend>{{ localize "DND5E.HitPoints" }}</legend>
    <div class="form-group">
        <label>{{ localize "DND5E.HitDie" }}</label>
        <span class="form-field-readonly">{{ hitDie }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "DND5E.ADVANCEMENT.HitPoints.Starting" }}</label>
        <span class="form-field-readonly">{{ advancement.hitDieValue }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "DND5E.ADVANCEMENT.HitPoints.Average" }}</label>
        <span class="form-field-readonly">{{ advancement.average }}</span>
    </div>
</fieldset>
