<fieldset class="card levels table">
    <legend>{{ localize "DND5E.ADVANCEMENT.ItemChoice.FIELDS.choices.label" }}</legend>
    <div class="header">
        <span class="level-header">
            {{ localize "DND5E.AbbreviationLevel" }}
        </span>
        <span class="count-header">
            {{ localize "DND5E.ADVANCEMENT.ItemChoice.FIELDS.choices.FIELDS.count.label" }}
        </span>
        <span class="replacement-header">
            <i class="fa-solid fa-shuffle" data-tooltip
               aria-label="{{ localize 'DND5E.ADVANCEMENT.ItemChoice.FIELDS.choices.FIELDS.replacement.label' }}"></i>
        </span>
    </div>
    <ol class="levels-list unlist">
        {{#each choices}}
        <li class="level">
            <div class="level-level">{{ label }}</div>
            <div class="level-count">
                <input type="number" name="configuration.choices.{{ @key }}.count" value="{{ count }}" placeholder="0"
                       min="1" step="1">
            </div>
            <div class="level-replacement">
                <dnd5e-checkbox name="configuration.choices.{{ @key }}.replacement"
                                {{ checked replacement }}></dnd5e-checkbox>
            </div>
        </li>
        {{/each}}
    </ol>
</fieldset>
