<form autocomplete="off">
    {{> "dnd5e.advancement-controls" }}
    <div class="form-group">
        <label>{{ localize "DND5E.AdvancementItemGrantOptional" }}</label>
        <div class="form-fields">
            <input type="checkbox" name="configuration.optional" {{ checked configuration.optional }}>
        </div>
        <p class="hint">{{ localize "DND5E.AdvancementItemGrantOptionalHint" }}</p>
    </div>

    {{#if showSpellConfig}}
    {{> "dnd5e.advancement-spell-config" }}
    {{/if}}

    <div class="drop-target">
        <ol class="items-list">
            <li class="items-header flexrow">
                <h3 class="item-optional">{{ localize "DND5E.AdvancementItemGrantOptional" }}</h3>
                <h3 class="item-name">{{ localize "DOCUMENT.Items" }}</h3>
            </li>
            <ol class="item-list">
            {{#each configuration.items}}
            <li class="item flexrow" data-item-uuid="{{ uuid }}">
                <div class="item-optional">
                    <input type="checkbox" name="configuration.items.{{ @index }}.optional" {{ checked optional }}>
                </div>
                <div class="item-name">
                    {{{ dnd5e-linkForUuid uuid }}}
                    <input type="hidden" name="configuration.items.{{ @index }}.uuid" value="{{ uuid }}">
                </div>
                <div class="item-controls flexrow">
                    <a class="item-control item-action" data-action="delete" data-tooltip="DND5E.ItemDelete"
                       aria-label="{{ localize 'DND5E.ItemDelete' }}">
                        <i class="fas fa-trash" inert></i>
                    </a>
                </div>
            </li>
            {{/each}}
            </ol>
        </ol>

        {{#if showContainerWarning}}
        <p class="hint centered warning">{{ localize "DND5E.AdvancementItemGrantContainerWarning" }}</p>
        {{/if}}
        <p class="hint centered">{{ localize "DND5E.AdvancementItemGrantDropHint" }}</p>
    </div>
</form>
