<form autocomplete="off" class="drop-target">
    <div class="left-column">
        {{> "dnd5e.advancement-controls" }}

        <div class="form-group">
            <label>{{ localize "DND5E.AdvancementConfigureAllowDrops" }}</label>
            <div class="form-fields">
                <input type="checkbox" name="configuration.allowDrops" {{ checked configuration.allowDrops }}>
            </div>
            <p class="hint">{{ localize "DND5E.AdvancementConfigureAllowDropsHint" }}</p>
        </div>

        <div class="form-group">
            <label>{{ localize "DND5E.AdvancementItemChoiceType" }}</label>
            <div class="form-fields">
                <select name="configuration.type">
                    {{ selectOptions validTypes selected=configuration.type
                                     blank=(localize "DND5E.AdvancementItemChoiceTypeAny") }}
                </select>
            </div>
            <p class="hint">{{ localize "DND5E.AdvancementItemChoiceTypeHint" }}</p>
        </div>

        {{#if typeRestriction}}
        <div class="form-group">
            <label>{{typeRestriction.typeLabel}}</label>
            <div class="form-fields">
                <select name="configuration.restriction.type">
                    {{ selectOptions typeRestriction.typeOptions selected=configuration.restriction.type
                                     labelAttr="label" blank="—" }}
                </select>
            </div>
        </div>

        {{#if typeRestriction.subtypeOptions}}
        <div class="form-group">
            <label>{{ typeRestriction.subtypeLabel }}</label>
            <div class="form-fields">
                <select name="configuration.restriction.subtype">
                    {{ selectOptions typeRestriction.subtypeOptions selected=configuration.restriction.subtype
                                     blank="—" }}
                </select>
            </div>
        </div>
        {{/if}}
        {{/if}}

        {{#if showSpellConfig}}
            <div class="form-group">
                <label>{{ localize "DND5E.SpellLevel" }}</label>
                <div class="form-fields">
                    <select name="configuration.restriction.level">
                        {{#select configuration.restriction.level}}
                        <option value="">&mdash;</option>
                        {{#each CONFIG.spellLevels}}
                        <option value="{{ @key }}">{{ this }}</option>
                        {{/each}}
                        <option value="available">
                            {{ localize "DND5E.AdvancementItemChoiceSpellLevelAvailable" }}
                        </option>
                        {{/select}}
                    </select>
                </div>
                <p class="hint">{{localize "DND5E.AdvancementItemChoiceSpellLevelHint"}}</p>
            </div>

            {{> "dnd5e.advancement-spell-config"}}
        {{/if}}
    </div>

    <div class="center-column">
        <ol class="items-list">
            <li class="items-header flexrow"><h3 class="item-name">{{ localize "DOCUMENT.Items" }}</h3></li>
            {{#each configuration.pool}}
            <li class="item flexrow" data-item-uuid="{{ uuid }}">
                <div class="item-name">{{{ dnd5e-linkForUuid uuid }}}</div>
                <div class="item-controls flexrow">
                    <a class="item-control item-action" data-action="delete" data-tooltip="DND5E.ItemDelete"
                       aria-label="{{ localize 'DND5E.ItemDelete' }}">
                        <i class="fas fa-trash" inert></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
        
        {{#if showContainerWarning}}
        <p class="hint centered warning">{{ localize "DND5E.AdvancementItemGrantContainerWarning" }}</p>
        {{/if}}
        <p class="hint centered">{{ localize "DND5E.AdvancementConfigureDropAreaHint" }}</p>
    </div>

    <div class="right-column level-list">
        <ol class="items-list">
            <li class="items-header flexrow">
                <span class="level-header">
                    {{ localize "DND5E.AbbreviationLevel" }}
                </span>
                <span id="{{ appId }}-choices" class="choices-header">
                    {{ localize "DND5E.AdvancementItemChoiceChoices" }}
                </span>
                <span id="{{ appId }}-replacement" class="replacement-header">
                    <i class="fa-solid fa-shuffle" data-tooltip="DND5E.AdvancementItemChoiceReplacement"
                       aria-label="{{ localize 'DND5E.AdvancementItemChoiceReplacement' }}"></i>
                </span>
            </li>
        </ol>
        {{#each choices}}
        <div class="form-group">
            <label>{{ label }}</label>
            <div class="form-fields">
                <input type="number" name="configuration.choices.{{ @key }}.count" value="{{ count }}" placeholder="0"
                       min="1" step="1" aria-labelledby="{{ @root.appId }}-choices">
                <input type="checkbox" name="configuration.choices.{{ @key }}.replacement"
                       {{ checked replacement }} aria-labelledby="{{ @root.appId }}-replacement">
            </div>
        </div>
        {{/each}}
    </div>
</form>
