<div class="flexcol">
    {{#if abilities}}
    <fieldset>
        <legend>{{ localize "DND5E.SpellAbility" }}</legend>
        {{ formInput abilities.field name="ability" value=abilities.value options=abilities.options}}
    </fieldset>
    {{/if}}

    <ul class="separated-list flexcol unlist">
        {{#each items}}
        <li class="flexrow" data-uuid="{{ uuid }}">
            <div class="details flexrow">
                <img class="gold-icon" data-action="viewItem" src="{{ img }}" alt="{{ name }}">
                <div class="name-stacked">
                    <div class="title">{{ name }}</div>
                </div>
            </div>
            {{#if optional}}
            <div class="list-controls">
                <dnd5e-checkbox name="{{ uuid }}" {{ checked checked }}></dnd5e-checkbox>
            </div>
            {{else}}
            <input type="hidden" name="{{ uuid }}" value="true" data-dtype="Boolean">
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
