<form autocomplete="off">
  <div class="left-column">
    {{> "dnd5e.advancement-controls"}}
    <div class="form-group">
      <label>Hint</label>
      <textarea name="data.configuration.hint">{{data.configuration.hint}}</textarea>
    </div>

    <div class="form-group">
      <label>{{localize "DND5E.AdvancementConfigureAllowDrops"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="data.configuration.allowDrops" {{checked data.configuration.allowDrops}}>
      </div>
      <p class="hint">{{localize "DND5E.AdvancementConfigureAllowDropsHint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "DND5E.AdvancementItemChoiceType"}}</label>
      <div class="form-fields">
        <select name="data.configuration.type">
          {{selectOptions validTypes selected=data.configuration.type
            blank=(localize "DND5E.AdvancementItemChoiceTypeAny")}}
        </select>
      </div>
      <p class="hint">{{localize "DND5E.AdvancementItemChoiceTypeHint"}}</p>
    </div>

    {{#if showSpellConfig}}
      {{> "dnd5e.advancement-spell-config"}}
    {{/if}}

    <div class="drop-target">
      <ol class="items-list">
        <li class="items-header flexrow"><h3 class="item-name">{{localize "DOCUMENT.Items"}}</h3></li>
        <ol class="item-list">
        {{#each data.configuration.pool}}
          <li class="item flexrow" data-item-uuid="{{this}}">
            <div class="item-name">{{{dnd5e-linkForUuid this}}}</div>
            <div class="item-controls flexrow">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
        </ol>
      </ol>

      <p class="hint centered">{{localize "DND5E.AdvancementConfigureDropAreaHint"}}</p>
    </div>
  </div>

  <div class="right-column level-list">
    <p class="hint">{{localize "DND5E.AdvancementItemChoiceLevelsHint"}}</p>
    {{#each levels as |level|}}
      <div class="form-group">
        <label>{{level}}</label>
        <div class="form-fields">
          {{numberInput (lookup ../data.configuration.choices level) placeholder="0"
            name=(concat "data.configuration.choices." level) min=1 step=1}}
        </div>
      </div>
    {{/each}}
  </div>
</form>
