<div class="standard-form">
    {{#if (or abilities replaceable)}}
    <fieldset>
        <legend>{{ localize "DND5E.ADVANCEMENT.ItemChoice.Options" }}</legend>

        {{#if abilities}}
        {{ formGroup abilities.field name="ability" value=abilities.value disabled=abilities.disabled
                     options=abilities.options rootId=partId }}
        {{/if}}

        {{#if replaceable}}
        <div class="form-group">
            <label for="{{ partId }}-replace">{{ localize "DND5E.ADVANCEMENT.ItemChoice.Replacement.None" }}</label>
            <div class="form-fields">
                <input type="radio" name="replace" value="" id="{{ partId }}-replace" {{ checked noReplacement }}>
            </div>
        </div>
        {{/if}}
    </fieldset>
    {{/if}}

    {{#each sections}}
    <div class="items-section card">
        <div class="items-header header">
            <h4 class="item-name">{{ header }}</h4>
        </div>
        <ul class="item-list unlist {{~#if isCurrentLevel}} current-level{{/if}}">
            {{#each items}}
            <li class="item flexrow {{~#if replaced}} replaced{{/if}}" data-uuid="{{ uuid }}">
                <div class="item-name flexrow">
                    <img class="gold-icon" data-action="viewItem" src="{{ img }}" alt="{{ name }}">
                    <div class="name-stacked">
                        <div class="title">{{ name }}</div>
                    </div>
                </div>
                {{#if ../isCurrentLevel}}
                <div class="item-controls flexrow">
                    {{#if dropped}}
                    <button type="button" class="unbutton control-button item-control" data-action="deleteItem"
                            data-tooltip aria-label="{{ localize 'DND5E.ItemDelete' }}">
                        <i class="fa-solid fa-trash" inert></i>
                    </button>
                    <input type="hidden" name="{{ uuid }}" value="true" data-dtype="Boolean">
                    {{else}}
                    <dnd5e-checkbox name="{{ uuid }}" {{ checked checked }} {{ disabled disabled }}></dnd5e-checkbox>
                    {{/if}}
                </div>
                {{else if (and @root.replaceable (not previouslyReplaced))}}
                <div class="item-controls flexrow">
                    <input type="radio" name="replace" value="{{ id }}" {{ checked replaced }}>
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}

    {{#if showBrowseButton}}
    <div class="pill-lg roboto-upper empty" data-action="browse">
        {{ localize selectLabel }}
    </div>
    {{/if}}
</div>
