<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}">
  <h3>{{{this.title}}}</h3>

  <p>
    <span class="initial-scale-value {{#unless initial}}none{{/unless}}">
      {{{ifThen initial initial (localize "DND5E.None")}}}
    </span>
    &#x27A1;
    <span class="new-scale-value">{{{final}}}</span>
  </p>
</form>
