<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}">
    <h3>{{{this.title}}}</h3>

    <p>{{hint}}</p>

    {{#if singleSize}}
    <input type="hidden" name="size" value="{{singleSize}}">
    {{else}}
    <select name="size">
        {{selectOptions sizes selected=selectedSize}}
    </select>
    {{/if}}
</form>
