<form autocomplete="off">
    <div class="left-column">
        {{> "dnd5e.advancement-controls"}}

        <div class="form-group">
            <label>{{localize "DND5E.AdvancementTraitMode"}}</label>
            <div class="form-fields">
                <select name="configuration.mode">
                    {{selectOptions CONFIG.traitModes selected=configuration.mode labelAttr="label"}}
                </select>
            </div>
            <p class="hint">{{localize (lookup (lookup CONFIG.traitModes configuration.mode) "hint")}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "DND5E.AdvancementTraitAllowReplacements"}}</label>
            <div class="form-fields">
                <input name="configuration.allowReplacements" id="allowReplacements"
                             type="checkbox" {{checked configuration.allowReplacements}}>
            </div>
            <p class="hint">{{localize "DND5E.AdvancementTraitAllowReplacementsHint"}}</p>
        </div>

        <fieldset class="selected-trait">
            <legend>{{localize "DND5E.AdvancementTraitGrants"}}</legend>
            <p class="hint">{{localize "DND5E.AdvancementTraitGrantsHint"}}</p>
            <ul>
                <li>
                    <label {{~#if grants.selected}} class="selected"{{/if}}>
                        <input type="radio" name="selectedIndex" value="-1" {{checked grants.selected}}>
                        {{#if grants.selected}}
                        <i class="fa-solid fa-arrow-right-long"></i>
                        {{else}}
                        <i class="fa-solid fa-gear"></i>
                        {{/if}}
                        <span>{{grants.label}}</span>
                    </label>
                </li>
            </ul>
        </fieldset>

        <fieldset class="selected-trait">
            <legend>{{localize "DND5E.AdvancementTraitChoices"}}</legend>
            <p class="hint">{{localize "DND5E.AdvancementTraitChoicesHint"}}</p>
            <ul>
                {{#each choices}}
                <li>
                    <label {{~#if this.selected}} class="selected"{{/if}}>
                        <input type="radio" name="selectedIndex" value="{{@index}}" {{checked this.selected}}>
                        {{#if this.selected}}
                        <i class="fa-solid fa-arrow-right-long"></i>
                        {{else}}
                        <i class="fa-solid fa-gear"></i>
                        {{/if}}
                        <span>{{this.label}}</span>
                    </label>
                    <a data-action="remove-choice" data-tooltip="DND5E.AdvancementTraitActionRemoveChoice">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </li>
                {{/each}}
            </ul>
            <a data-action="add-choice">
                <i class="fas fa-plus"></i> {{localize "DND5E.AdvancementTraitActionAddChoice"}}
            </a>
        </fieldset>
    </div>

    {{#if choiceOptions}}
    <div class="right-column trait-selector">
        {{#if (ne selectedIndex -1)}}
        <div class="form-group">
            <label>{{localize "DND5E.AdvancementTraitCount"}}</label>
            <div class="form-fields">
                <input name="configuration.count" type="number" step="1" value="{{count}}">
            </div>
        </div>
        {{/if}}

        <div class="form-group">
            <label>{{localize "DND5E.AdvancementTraitType"}}</label>
            <div class="form-fields">
                <select name="selectedTrait">
                    {{selectOptions validTraitTypes selected=selectedTrait localize=true}}
                </select>
            </div>
        </div>

        {{> "dnd5e.trait-list" choices=choiceOptions prefix="configuration.checked"}}
    </div>
    {{/if}}
</form>
