<div class="tab" data-group="appearance" data-tab="ring">
    <div class="form-group">
        <label>{{localize "DND5E.TokenRings.Enabled"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.dnd5e.tokenRing.enabled" {{checked flags.enabled}}>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "DND5E.TokenRings.RingColor"}}</label>
        <div class="form-fields">
            {{colorPicker name="flags.dnd5e.tokenRing.colors.ring" value=colors.ring}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "DND5E.TokenRings.BackgroundColor"}}</label>
        <div class="form-fields">
            {{colorPicker name="flags.dnd5e.tokenRing.colors.background" value=colors.background}}
        </div>
    </div>
</div>
