<div class="form-group">
    <label>{{ localize "DND5E.AbilityModifier" }}</label>
    <div class="form-fields">
        <multi-select name="configuration.spell.ability">
            {{#each abilities}}
            <option value="{{ @key }}" {{ selected }}>{{ label }}</option>
            {{/each}}
        </multi-select>
    </div>
</div>

<div class="form-group">
    <label>{{ localize "DND5E.SpellPreparationMode" }}</label>
    <div class="form-fields">
        <select name="configuration.spell.preparation">
            {{ selectOptions CONFIG.spellPreparationModes selected=configuration.spell.preparation
                             labelAttr="label" blank="—" }}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{ localize "DND5E.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="text" name="configuration.spell.uses.max" value="{{ configuration.spell.uses.max }}"
               data-formula-editor>
        <select name="configuration.spell.uses.per">
            {{ selectOptions CONFIG.limitedUsePeriods selected=configuration.spell.uses.per
                             labelAttr="label" blank="—" }}
        </select>
    </div>
</div>
