<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{#if activity.activation.canOverride}}
    {{ formField fields.activation.fields.override value=source.activation.override }}
    {{/if}}

    <fieldset {{ disabled disabled.activation }}>
        <legend>{{ localize "DND5E.ACTIVATION.FIELDS.activation.label" }}</legend>
        {{> "dnd5e.field-activation" activation=activity.activation fields=fields.activation.fields data=data.activation
            activationTypes=activationTypes inputs=inputs label="DND5E.ACTIVATION.FIELDS.activation.type.label" }}
    </fieldset>

    {{#if activity.duration.canOverride}}
    {{ formField fields.duration.fields.override value=source.duration.override }}
    {{/if}}

    <fieldset {{ disabled disabled.duration }}>
        <legend>{{ localize "DND5E.DURATION.FIELDS.duration.label" }}</legend>
        {{> "dnd5e.field-duration" duration=activity.duration fields=fields.duration.fields data=data.duration
            durationUnits=durationUnits inputs=inputs }}
    </fieldset>
</section>
