<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset {{ disabled disabled.activation }}>
        <legend>
            <label class="checkbox">
                {{ localize "DND5E.ACTIVATION.FIELDS.activation.label" }}
                {{#if activity.activation.canOverride}}
                {{ formInput fields.activation.fields.override value=source.activation.override
                             input=inputs.createCheckboxInput
                             dataset=(dnd5e-object tooltip="DND5E.ACTIVATION.FIELDS.activation.override.hint")
                             ariaLabel=(localize "DND5E.ACTIVATION.FIELDS.activation.override.hint") }}
                {{/if}}
            </label>
        </legend>
        {{> "dnd5e.field-activation" activation=activity.activation fields=fields.activation.fields data=data.activation
            activationTypes=activationTypes inputs=inputs label="DND5E.ACTIVATION.FIELDS.activation.type.label" }}
    </fieldset>

    <fieldset {{ disabled disabled.duration }}>
        <legend>
            <label class="checkbox">
                {{ localize "DND5E.DURATION.FIELDS.duration.label" }}
                {{#if activity.duration.canOverride}}
                {{ formInput fields.duration.fields.override value=source.duration.override
                             input=inputs.createCheckboxInput
                             dataset=(dnd5e-object tooltip="DND5E.DURATION.FIELDS.duration.override.hint")
                             ariaLabel=(localize "DND5E.DURATION.FIELDS.duration.override.hint") }}
                {{/if}}
            </label>
        </legend>
        {{> "dnd5e.field-duration" duration=activity.duration fields=fields.duration.fields data=data.duration
            durationUnits=durationUnits inputs=inputs }}
        {{ formField fields.duration.fields.concentration value=data.duration.concentration
           input=inputs.createCheckboxInput }}
    </fieldset>
</section>
