<fieldset>
    <legend>{{ localize "DND5E.ACTIVITY.FIELDS.visibility.label" }}</legend>
    {{> "dnd5e.fieldlist" visibilityFields }}
    <div class="form-group">
        <label>{{ localize "DND5E.ACTIVITY.FIELDS.visibility.level.label" }}</label>
        <div class="form-fields range-fields">
            {{ formInput fields.visibility.fields.level.fields.min value=source.visibility.level.min
                         placeholder="0" ariaLabel=(localize "DND5E.LevelLimit.Min")
                         input=@root.inputs.createNumberInput }}
            <dnd5e-icon src="systems/dnd5e/icons/svg/range-connector.svg" class="sep"></dnd5e-icon>
            {{ formInput fields.visibility.fields.level.fields.max value=source.visibility.level.max
                         placeholder="∞" ariaLabel=(localize "DND5E.LevelLimit.Max")
                         input=@root.inputs.createNumberInput }}
        </div>
        <p class="hint">{{ localize "DND5E.ACTIVITY.FIELDS.visibility.level.hint" }}</p>
    </div>
    {{#unless activity.isSpell}}
    {{ formField fields.visibility.fields.identifier value=source.visibility.identifier rootId=partId }}
    {{/unless}}
</fieldset>
