<div class="details formula flexrow">
    {{ formInput fields.custom.fields.enabled name=(concat prefix "custom.enabled")
       value=data.custom.enabled }}
    {{#unless data.custom.enabled}}

    {{ formField fields.number name=(concat prefix "number") value=data.number stacked=true hint=false }}
    <span class="seperator">d</span>
    {{ formField fields.denomination name=(concat prefix "denomination") value=data.denomination
       options=denominationOptions stacked=true hint=false }}
    <span class="seperator">+</span>
    {{ formField fields.bonus name=(concat prefix "bonus") value=data.bonus stacked=true hint=false }}
    <input type="hidden" name="{{ prefix }}custom.formula" value="{{ data.custom.formula }}">

    {{else}}

    {{ formField fields.custom.fields.formula name=(concat prefix "custom.formula")
       value=data.custom.formula stacked=true hint=false }}
    <input type="hidden" name="{{ prefix }}number" value="{{ data.number }}">
    <input type="hidden" name="{{ prefix }}denomination" value="{{ data.denomination }}">
    <input type="hidden" name="{{ prefix }}bonus" value="{{ data.bonus }}">

    {{/unless}}
    {{#unless (or singleton data.base)}}
    <div class="list-controls">
        <button type="button" class="unbutton" data-action="deleteDamagePart"
                data-tooltip="DND5E.DAMAGE.Part.Action.Delete"
                aria-label="{{ localize 'DND5E.DAMAGE.Part.Action.Delete' }}">
            <i class="fa-solid fa-trash fa-fw" inert></i>
        </button>
    </div>
    {{/unless}}
</div>

{{ formField fields.types name=(concat prefix "types") value=data.types options=typeOptions hint=false
   disabled=data.base }}
<!-- TODO: This disabled is only necessary because of https://github.com/foundryvtt/foundryvtt/issues/11564 -->

{{#if canScale}}
{{#with fields.scaling.fields as |fields|}}
<div class="scaling flexrow">
    {{ formField fields.mode name=(concat ../prefix "scaling.mode") value=../data.scaling.mode
       options=../scalingOptions stacked=true hint=false }}
    {{#if ../data.scaling.mode}}
    {{ formField fields.number name=(concat ../prefix "scaling.number") value=../data.scaling.number
       stacked=true hint=false }}
    {{ formField fields.formula name=(concat ../prefix "scaling.formula") value=../data.scaling.formula
       stacked=true hint=false }}
    {{/if}}
</div>
{{/with}}
{{/if}}
