<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset>
        <legend>{{ localize "DND5E.SUMMON.CreatureChanges.Label" }}</legend>
        <div class="form-group">
            <p class="hint">{{ localize "DND5E.SUMMON.CreatureChanges.Hint" }}</p>
        </div>
        {{ formField fields.match.fields.proficiency value=source.match.proficiency input=inputs.createCheckboxInput }}
        {{ formField fields.bonuses.fields.ac value=source.bonuses.ac }}
        {{ formField fields.bonuses.fields.hd value=source.bonuses.hd }}
        {{ formField fields.bonuses.fields.hp value=source.bonuses.hp }}
        {{ formField fields.creatureSizes value=source.creatureSizes options=creatureSizeOptions }}
        {{ formField fields.creatureTypes value=source.creatureTypes options=creatureTypeOptions }}
    </fieldset>
    <fieldset>
        <legend>{{ localize "DND5E.SUMMON.ItemChanges.Label" }}</legend>
        <div class="form-group">
            <p class="hint">{{ localize "DND5E.SUMMON.ItemChanges.Hint" }}</p>
        </div>
        {{ formField fields.match.fields.ability value=source.match.ability options=abilityOptions }}
        {{ formField fields.match.fields.attacks value=source.match.attacks input=inputs.createCheckboxInput }}
        {{ formField fields.match.fields.saves value=source.match.saves input=inputs.createCheckboxInput }}
        {{ formField fields.bonuses.fields.attackDamage value=source.bonuses.attackDamage }}
        {{ formField fields.bonuses.fields.saveDamage value=source.bonuses.saveDamage }}
        {{ formField fields.bonuses.fields.healing value=source.bonuses.healing }}
    </fieldset>
    {{> "systems/dnd5e/templates/activity/parts/activity-effects.hbs" }}
</section>
