<fieldset>
    <legend>{{ localize "DND5E.TELEPORT.FIELDS.teleport.label" }}</legend>
    {{ formField fields.teleport.fields.unlimited value=source.teleport.unlimited input=inputs.createCheckboxInput
                 rootId=partId }}
    <div class="form-group split-group">
        <label>{{ localize "DND5E.TELEPORT.FIELDS.teleport.value.label" }}</label>
        <div class="form-fields">
            {{ formField fields.teleport.fields.value value=source.teleport.value label="DND5E.Value" localize=true
                         hint=false classes="label-top" disabled=source.teleport.unlimited rootId=partId }}
            {{ formField fields.teleport.fields.units value=source.teleport.units label="DND5E.Unit" localize=true
                         hint=false choices=CONFIG.movementUnits classes="label-top" disabled=source.teleport.unlimited
                         rootId=partId }}
        </div>
    </div>
    <p class="hint">{{ localize "DND5E.TELEPORT.FIELDS.teleport.hint" }}</p>
</fieldset>
