{{#if uses.isOnCooldown}}
<div class="item-detail item-uses {{#if isSpell}}spell-uses{{/if}}" data-tooltip-direction="LEFT"
     data-tooltip="{{ labels.recharge }}" aria-label="{{ labels.recharge }}">
    <a class="item-action" data-action="activity-recharge"><i class="fas fa-arrows-rotate"></i></a>
</div>
{{else if uses.hasRecharge}}
<div class="item-detail item-uses {{#if isSpell}}spell-uses{{/if}}" data-tooltip-direction="LEFT"
     data-tooltip="{{ labels.recharge }}" aria-label="{{ labels.recharge }}">
    <i class="fas fa-bolt"></i>
</div>
{{else if uses.max}}
<div class="item-detail item-uses {{#if isSpell}}spell-uses{{/if}}">
    <input type="text" value="{{ uses.value }}" placeholder="0" data-dtype="Number" data-name="uses.value"
           inputmode="numeric" pattern="[+=\-]?\d">
    <span class="separator">&sol;</span>
    <span class="max">{{ uses.max }}</span>
</div>
{{else}}
<div class="item-detail item-uses empty {{#if isSpell}}spell-uses{{/if}}"></div>
{{/if}}
