<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> journalEntryPageHeader}}

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.Item"}}</label>
    <div class="form-fields item-drop-area">
      {{#if document.system.itemUUID}}
        {{{dnd5e-linkForUuid document.system.itemUUID}}}
      {{else}}
        {{localize "JOURNALENTRYPAGE.DND5E.Class.ItemHint"}}
      {{/if}}
    </div>
  </div>

  <h3>{{localize "JOURNALENTRYPAGE.DND5E.Class.Description"}}</h3>
  {{editor enriched.primary target="system.description.primary" button=true editable=true}}

  <h3>{{localize "JOURNALENTRYPAGE.DND5E.Class.AdditionalHitPoints"}}</h3>
  {{editor enriched.additionalHitPoints target="system.description.additionalHitPoints" button=true editable=true}}

  <h3>{{localize "JOURNALENTRYPAGE.DND5E.Class.AdditionalTraits"}}</h3>
  {{editor enriched.additionalTraits target="system.description.additionalTraits" button=true editable=true}}

  <h3>{{localize "JOURNALENTRYPAGE.DND5E.Class.AdditionalEquipment"}}</h3>
  {{editor enriched.additionalEquipment target="system.description.additionalEquipment" button=true editable=true}}

  <h3>{{localize "JOURNALENTRYPAGE.DND5E.Class.Subclass"}}</h3>
  {{editor enriched.subclass target="system.description.subclass" button=true editable=true}}
</form>
