<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> journalEntryPageHeader}}

  <div class="form-group">
    <label>{{localize "DND5E.JournalClassSummaryItem"}}</label>
    <div class="form-fields drop-area">
      Drop Here
    </div>
  </div>

  <h3>Description</h3>
  {{editor enriched.primary target="system.description.primary" button=true editable=true}}
  
  <h3>Additional Hit Points Description</h3>
  {{editor enriched.additionalHitPoints target="system.description.additionalHitPoints" button=true editable=true}}

  <h3>Additional Proficiencies Description</h3>
  {{editor enriched.additionalTraits target="system.description.additionalTraits" button=true editable=true}}

  <h3>Additional Equipment Description</h3>
  {{editor enriched.additionalEquipment target="system.description.additionalEquipment" button=true editable=true}}

  <h3>Subclass</h3>
  {{editor enriched.subclass target="system.description.subclass" button=true editable=true}}

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{localize "JOURNAL.Submit"}}</button>
  </footer>
</form>
