{{#if data.title.show}}
<header>
  <h{{data.title.level}}>{{data.name}}</h{{data.title.level}}>
{{/if}}

{{#if linked.document}}

  <section>
    {{{enriched.primary}}}

    <h2>{{localize "DND5E.Journal.ClassSummary.FeaturesHeader"}}</h2>
    <p>
      {{localize "DND5E.Journal.ClassSummary.FeaturesDescription" name=linked.name lowercaseName=linked.lowercaseName}}
    </p>

    {{#if (or advancement.hp enriched.additionalHitPoints)}}
      <h3>{{localize "DND5E.Journal.ClassSummary.HitPointsHeader"}}</h3>
      <p>
        {{{localize "DND5E.Journal.ClassSummary.HitDice" dice=advancement.hp.hitDice class=linked.lowercaseName}}}<br>
        {{{localize "DND5E.Journal.ClassSummary.HitPointsLevel1" max=advancement.hp.max}}}<br>
        {{{localize "DND5E.Journal.ClassSummary.HitPointsLevelX" dice=advancement.hp.hitDice
          average=advancement.hp.average class=linked.lowercaseName}}}
      </p>
      {{{enriched.additionalHitPoints}}}
    {{/if}}

    {{#if (or advancement.traits enriched.additionalTraits)}}
      <h3>{{localize "DND5E.Journal.ClassSummary.TraitsHeader"}}</h3>
      {{{enriched.additionalTraits}}}
    {{/if}}

    {{#if (or advancement.equipment enriched.additionalEquipment)}}
      <h3>{{localize "DND5E.Journal.ClassSummary.EquipmentHeader"}}</h3>
      {{{enriched.additionalEquipment}}}
    {{/if}}

    {{> "dnd5e.journal-table" table=table
      caption=(localize "DND5E.Journal.ClassSummary.TableCaption" class=linked.name)}}

    {{#if advancement.optionalFeatures}}
      <h2>{{localize "DND5E.Journal.ClassSummary.OptionalFeaturesCaption"}}</h2>
      Table Here!
    {{/if}}

    {{#if advancement.subclass}}
      <h3>{{advancement.subclass.name}}</h3>
      {{{enriched.subclass}}}
      List of subclasses here
    {{/if}}
  </section>

{{else}}
  <section>
    {{localize "DND5E.Journal.ClassSummary.NoValidClass"}}
  </section>
{{/if}}
