<section>
    <div class="form-group">
        <label>{{ localize "JOURNALENTRYPAGE.DND5E.Subclass.FIELDS.item.label" }}</label>
        <div class="form-fields">
            <ol class="items-list">
                {{#if document.system.item}}
                <li class="item flexrow" data-item-uuid="{{ document.system.item }}" data-item-type="linked">
                    <div class="item-name">{{{ dnd5e-linkForUuid document.system.item }}}</div>
                    <div class="item-controls flexrow">
                        <a class="item-control" data-action="deleteItem" data-tooltip
                           aria-label="{{ localize 'DND5E.ItemDelete' }}">
                            <i class="fa-solid fa-trash" inert></i>
                        </a>
                    </div>
                </li>
                {{else}}
                <li class="item flexrow">{{ localize "JOURNALENTRYPAGE.DND5E.Subclass.ItemHint" }}</li>
                {{/if}}
            </ol>
        </div>
    </div>

    {{ formField systemFields.style value=system.style options=styleOptions }}

    <div class="form-group">
        <label>{{ localize "JOURNALENTRYPAGE.DND5E.Subclass.FIELDS.description.value.label" }}</label>
        <div class="form-fields">
            <button data-action="launchTextEditor" data-target="system.description.value">
                <i class="fa-solid fa-edit" inert></i> {{ localize "JOURNALENTRYPAGE.DND5E.EditDescription" }}
            </button>
        </div>
        <p class="hint">{{ localize "JOURNALENTRYPAGE.DND5E.Subclass.FIELDS.description.value.hint" }}</p>
    </div>
</section>
