<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> journalEntryPageHeader}}

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.Item"}}</label>
    <div class="form-fields item-drop-area">
      {{#if document.system.itemUUID}}
        {{{dnd5e-linkForUuid document.system.itemUUID}}}
      {{else}}
        {{localize "JOURNALENTRYPAGE.DND5E.Class.ItemHint"}}
      {{/if}}
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.Description"}}</label>
    <div class="form-fields">
      <button class="launch-text-editor" name="system.description.primary">Edit</button>
    </div>
    <p class="hint">
      Hint!
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.AdditionalHitPoints"}}</label>
    <div class="form-fields">
      <button class="launch-text-editor" name="system.description.additionalHitPoints">Edit</button>
    </div>
    <p class="hint">
      Hint!
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.AdditionalTraits"}}</label>
    <div class="form-fields">
      <button class="launch-text-editor" name="system.description.additionalTraits">Edit</button>
    </div>
    <p class="hint">
      Hint!
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.AdditionalEquipment"}}</label>
    <div class="form-fields">
      <button class="launch-text-editor" name="system.description.additionalEquipment">Edit</button>
    </div>
    <p class="hint">
      Hint!
    </p>
  </div>

  <div class="form-group">
    <label>{{localize "JOURNALENTRYPAGE.DND5E.Class.Subclass"}}</label>
    <div class="form-fields">
      <button class="launch-text-editor" name="system.description.subclass">Edit</button>
    </div>
    <p class="hint">
      Hint!
    </p>
  </div>
</form>
