{{#if data.title.show}}
<header>
  <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
</header>
{{/if}}

{{{description}}}

{{#each spellLevels}}
  <h{{@root.title.level3}}>{{this.header}}</h{{@root.title.level3}}>
  <ul>
  {{#each this.spells}}
    <li>{{{dnd5e-linkForUuid this.uuid}}}</li>
  {{/each}}
  </ul>
{{/each}}
