<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/dnd5e/templates/activity/parts/activity-identity.hbs" }}
    {{> "systems/dnd5e/templates/activity/parts/attack-identity.hbs" }}
    <fieldset>
        <legend>{{ localize "DND5E.ACTIVITY.SECTIONS.Behavior" }}</legend>
        {{> "dnd5e.fieldlist" behaviorFields }}
    </fieldset>
</section>
