<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{ formField fields.name value=source.name placeholder=placeholder.name }}
    {{ formField fields.img value=source.img placeholder=placeholder.img }}
</section>
