<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/dnd5e/templates/activity/parts/activity-identity.hbs" }}
    <fieldset>
        <legend>{{ localize "DND5E.ACTIVITY.SECTIONS.Behavior" }}</legend>
        {{ formField fields.target.fields.prompt value=source.target.prompt input=inputs.createCheckboxInput }}
        {{ formField fields.summon.fields.prompt value=source.summon.prompt input=inputs.createCheckboxInput }}
    </fieldset>
</section>
