{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "SHAPER.ItemActivationCost" }}</label>
    <div class="form-fields">
        <select name="system.activation.type">
            {{#select system.activation.type}}
            <option value=""></option>
            {{#each config.abilityActivationTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{#if system.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "SHAPER.ItemActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="system.activation.condition" value="{{system.activation.condition}}"/>
    </div>
</div>

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "SHAPER.Target" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.target.value"
            value="{{system.target.value}}" placeholder="&mdash;">
        <select name="system.target.type">
            {{#select system.target.type}}
            <option value=""></option>
            {{#each config.targetTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>


{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "SHAPER.Range" }}</label>
    <div class="form-fields">
        <select name="system.range.units">
            {{#select system.range.units}}
            <option value=""></option>
            {{#each config.distanceUnits as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "SHAPER.Duration" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.duration.value" value="{{system.duration.value}}"
            placeholder="&mdash;">
        <select name="system.duration.units">
            {{#select system.duration.units}}
            <option value=""></option>
            {{#each config.timePeriods as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>


{{!-- Consumption --}}
<div class="form-group uses-per">
    <label>{{ localize "SHAPER.ConsumeTitle" }}</label>
    <div class="form-fields">
        <select name="system.consume.type">
            {{#select system.consume.type}}
            <option value=""></option>
            {{#each config.abilityConsumptionTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="system.consume.label">
            {{#select system.consume.label}}
            <option value=""></option>
            {{#each config.consumeTargets as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <input type="number" step="any" name="system.consume.amount" value="{{system.consume.amount}}">
    </div>
</div>

{{!-- Upkeep Requirement --}}

<div class="form-group uses-per">
    <label>{{ localize "SHAPER.FeatureUpkeep" }}</label>
    <div class="form-fields">
        <select name="system.upkeep.type">
            {{#select system.upkeep.type}}
            <option value=""></option>
            {{#each config.abilityConsumptionTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="system.upkeep.label">
            {{#select system.upkeep.label}}
            <option value=""></option>
            {{#each config.consumeTargets as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <input type="number" step="any" name="system.upkeep.amount" value="{{system.upkeep.amount}}">
    </div>
</div>

{{/if}}
