{{!-- Action Type --}}
<div class="form-group select">
    <label>{{ localize "SHAPER.ItemActionType" }}</label>
    <select name="system.actionType">
        {{#select system.actionType}}
        <option value=""></option>
        {{#each config.itemActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{#if system.actionType}}

{{!-- Attack Roll Bonus --}}
{{#if hasAttackRoll }}
<div class="form-group">
    <label>{{ localize "SHAPER.ItemAttackBonus" }}</label>
    <div class="form-fields">
        <input type="text" name="system.attackBonus" value="{{system.attackBonus}}"/>
    </div>
</div>
{{/if}}

{{!-- Damage Formula --}}
<h4 class="damage-header">
    {{#unless isHealing }}{{ localize "SHAPER.Damage" }}{{ else }}{{ localize "SHAPER.Healing" }}{{/unless}}
    <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts form-group">
    {{#each system.damage.parts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
        <input type="text" name="system.damage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
        <select name="system.damage.parts.{{i}}.1">
            {{#select (lookup this "1") }}
            <option value="">{{ localize "SHAPER.None" }}</option>
            {{#each ../config.damageTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{#each ../config.healingTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
</ol>

{{!-- Chat Message Flavor --}}
<div class="form-group stacked">
    <label>{{ localize "SHAPER.ChatFlavor" }}</label>
    <input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}"/>
</div>
{{/if}}
