{{!-- Profile Name --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.ItemUsageProfileName" }}</label>
    <div class="form-fields">
        <input
            type="text"
            name="system.usageProfiles.{{system.usageProfileIndex}}.profileName"
            value="{{ getProperty (lookup system.usageProfiles system.usageProfileIndex) "profileName" }}"
            placeholder="{{ localize 'DND5E.Untitled' }}"
        />
    </div>
</div>

{{#if editable}}
{{!-- Delete Profile --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.ItemUsageProfileDelete" }}</label>
    <a class="usage-profile-control usage-profile-delete" title="{{ localize "DND5E.ItemDelete" }}"><i class="fas fa-trash"></i></a>
</div>
{{/if}}