{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.ItemActivationCost" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.activation.cost"
            value="{{system.activation.cost}}" placeholder="&mdash;">
        <select name="system.activation.type" data-tooltip="DND5E.ItemActivationType">
            {{selectOptions config.abilityActivationTypes selected=system.activation.type blank=(localize "DND5E.None")}}
        </select>
    </div>
</div>
{{#if system.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "DND5E.ItemActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="system.activation.condition" value="{{system.activation.condition}}">
    </div>
</div>

{{#if isCrewed}}
<div class="form-group">
    <label>{{ localize "DND5E.Cover" }}</label>
    <div class="form-fields">
        <select name="system.cover" data-dtype="Number">
            {{selectOptions config.cover selected=system.cover blank=""}}
        </select>
    </div>
</div>
{{/if}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "DND5E.Target" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.target.value"
            value="{{system.target.value}}" placeholder="&mdash;">
        <select name="system.target.units" data-tooltip="DND5E.TargetUnits">
            {{selectOptions config.movementUnits selected=system.target.units blank=""}}
        </select>
        <select name="system.target.type" data-tooltip="DND5E.TargetType">
            {{#select system.target.type}}
                 <option value="">{{localize "DND5E.None"}}</option>
                 <optgroup label="{{localize 'DND5E.TargetTypeIndividual'}}">
                     {{selectOptions config.individualTargetTypes}}
                 </optgroup>
                 <optgroup label="{{localize 'DND5E.TargetTypeArea'}}">
                     {{selectOptions config.areaTargetTypes labelAttr="label"}}
                 </optgroup>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Target Width --}}
{{#if isLine}}
<div class="form-group input-select-select">
    <label>{{ localize "DND5E.TargetWidth" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.target.width"
            value="{{system.target.width}}" placeholder="&mdash;">
    </div>
</div>
{{/if}}

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.Range" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.range.value" value="{{system.range.value}}"
               placeholder="{{localize 'DND5E.Normal'}}" data-tooltip="DND5E.RangeNormal">
        <span class="sep">/</span>
        <input type="number" step="any" name="system.range.long" value="{{system.range.long}}"
               placeholder="{{localize 'DND5E.Long'}}" data-tooltip="DND5E.RangeLong">
        <select name="system.range.units" data-tooltip="DND5E.RangeUnits">
            {{selectOptions config.distanceUnits selected=system.range.units blank=(localize "DND5E.None")}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.Duration" }}</label>
    <div class="form-fields">
        <input type="text" name="system.duration.value" value="{{source.duration.value}}"
               placeholder="&mdash;" data-tooltip="DND5E.DurationValue" data-formula-editor>
        <select name="system.duration.units" data-tooltip="DND5E.DurationType">
            {{#select system.duration.units}}
                <option value=""></option>
                {{#each config.timePeriods as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>{{ localize "DND5E.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.uses.value"
               value="{{system.uses.value}}" data-tooltip="DND5E.UsesAvailable">
        <span class="sep">{{localize "DND5E.of"}}</span>
        <input type="text" name="system.uses.max" value="{{source.uses.max}}"
               data-tooltip="DND5E.UsesMax" data-formula-editor>
        <span class="sep">{{localize "DND5E.per"}}</span>
        <select name="system.uses.per" data-tooltip="DND5E.UsesPeriod">
            {{selectOptions config.limitedUsePeriods selected=system.uses.per blank=""}}
        </select>
    </div>
</div>

{{#if (eq system.uses.per "charges")}}
<div class="form-group">
    <label>{{localize "DND5E.RecoveryFormula"}}</label>
    <div class="form-fields">
        <input type="text" name="system.uses.recovery" value="{{system.uses.recovery}}" data-formula-editor>
    </div>
</div>
{{/if}}

{{!-- Consumption --}}
<div class="form-group uses-per">
    <label>{{ localize "DND5E.ConsumeTitle" }}</label>
    <div class="form-fields">
        <select name="system.consume.type" data-tooltip="DND5E.ConsumeType">
            {{selectOptions config.abilityConsumptionTypes selected=system.consume.type blank=""}}
        </select>
        <select name="system.consume.target" data-tooltip="DND5E.ConsumeTarget">
            {{selectOptions abilityConsumptionTargets selected=system.consume.target blank=""}}
        </select>
        <input type="number" step="any" name="system.consume.amount"
            value="{{system.consume.amount}}" data-tooltip="DND5E.ConsumeQuanity">
    </div>
</div>
{{/if}}
