{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.ItemActivationCost" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.activation.cost"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "activation.cost" }}"
            placeholder="&mdash;"
        />
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.activation.type" title="{{localize 'DND5E.ItemActivationType'}}">
            {{selectOptions config.abilityActivationTypes selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "activation.type") blank=""}}
        </select>
    </div>
</div>

{{!-- Hides every subsequent field if there's no Activation Cost --}}
{{#if (getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "activation.type")}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "DND5E.ItemActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="system.usageProfiles.{{options.selectedUsageProfileId}}.activation.condition"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "activation.condition" }}"
        />
    </div>
</div>

{{#if isCrewed}}
<div class="form-group">
    <label>{{ localize "DND5E.Cover" }}</label>
    <div class="form-fields">
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.cover" data-dtype="Number">
            {{selectOptions config.cover selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "cover") blank=""}}
        </select>
    </div>
</div>
{{/if}}

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "DND5E.Target" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.target.value"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "target.value" }}" placeholder="&mdash;">
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.target.units" title="{{localize 'DND5E.TargetUnits'}}">
            {{selectOptions config.movementUnits selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "target.units") blank=""}}
        </select>
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.target.type" title="{{localize 'DND5E.TargetType'}}">
            {{#select (getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "target.type")}}
                <option value=""></option>
                <option value="none">{{localize "DND5E.None"}}</option>
                <optgroup label="{{localize 'DND5E.TargetTypeIndividual'}}">
                    {{selectOptions config.individualTargetTypes}}
                </optgroup>
                <optgroup label="{{localize 'DND5E.TargetTypeArea'}}">
                    {{selectOptions config.areaTargetTypes labelAttr="label"}}
                </optgroup>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Ability Target Width --}}
{{#if isLine}}
<div class="form-group input-select-select">
    <label>{{ localize "DND5E.TargetWidth" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.target.width"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "target.width" }}" placeholder="&mdash;">
    </div>
</div>
{{/if}}

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.Range" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.range.value"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "range.value" }}" placeholder="{{localize 'DND5E.Normal'}}"
            title="{{localize 'DND5E.RangeNormal'}}">
        <span class="sep">/</span>
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.range.long"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "range.long" }}" placeholder="{{localize 'DND5E.Long'}}"
            title="{{localize 'DND5E.RangeLong'}}">
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.range.units" title="{{localize 'DND5E.RangeUnits'}}">
            {{selectOptions config.distanceUnits selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "range.units") blank=""}}
        </select>
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.Duration" }}</label>
    <div class="form-fields">
        <input type="text" name="system.usageProfiles.{{options.selectedUsageProfileId}}.duration.value" value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "duration.value" }}"
               placeholder="&mdash;" title="{{localize 'DND5E.DurationValue'}}">
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.duration.units" title="{{localize 'DND5E.DurationType'}}">
            {{#select (getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "duration.units")}}
                <option value=""></option>
                {{#each config.timePeriods as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per">
    <label>{{ localize "DND5E.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.uses.value" value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "uses.value" }}"
            title="{{ localize 'DND5E.UsesAvailable' }}">
        <span class="sep">{{localize "DND5E.of"}}</span>
        <input type="text" name="system.usageProfiles.{{options.selectedUsageProfileId}}.uses.max" value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "uses.max" }}"
            title="{{localize 'DND5E.UsesMax'}}">
        <span class="sep">{{localize "DND5E.per"}}</span>
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.uses.per" title="{{localize 'DND5E.UsesPeriod'}}">
            {{selectOptions config.limitedUsePeriods selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "uses.per") blank=""}}
        </select>
    </div>
</div>

{{#if (eq (getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "uses.per") "charges")}}
<div class="form-group">
    <label>{{localize "DND5E.RecoveryFormula"}}</label>
    <div class="form-fields">
        <input type="text" name="system.usageProfiles.{{options.selectedUsageProfileId}}.uses.recovery"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "uses.recovery" }}"
        />
    </div>
</div>
{{/if}}

{{!-- Consumption --}}
<div class="form-group uses-per">
    <label>{{ localize "DND5E.ConsumeTitle" }}</label>
    <div class="form-fields">
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.consume.type" title="{{localize 'DND5E.ConsumeType'}}">
            {{selectOptions config.abilityConsumptionTypes selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "consume.type") blank=""}}
        </select>
        <select name="system.usageProfiles.{{options.selectedUsageProfileId}}.consume.target" title="{{localize 'DND5E.ConsumeTarget'}}">
            {{selectOptions abilityConsumptionTargets selected=(getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "consume.target") blank=""}}
        </select>
        <input type="number" step="any" name="system.usageProfiles.{{options.selectedUsageProfileId}}.consume.amount"
            value="{{ getProperty (lookup system.usageProfiles options.selectedUsageProfileId) "consume.amount" }}" title="{{localize 'DND5E.ConsumeQuanity'}}">
    </div>
</div>

{{/if}}