<div class="tab activities" data-group="primary" data-tab="activities">
    {{#each activities}}
    <div class="activity card" data-activity-id="{{ id }}">

        {{!-- Icon --}}
        <div class="icon {{#if img.svg}}svg{{/if}}">
            {{#if img.svg}}
            <dnd5e-icon src="{{ img.src }}"></dnd5e-icon>
            {{else}}
            <img src="{{ img.src }}" class="gold-icon" alt="{{ name }}">
            {{/if}}
        </div>

        {{!-- Name --}}
        <div class="name">{{ name }}</div>

        {{!-- Controls --}}
        <div class="controls">

            {{#if @root.editable}}
            {{!-- Delete --}}
            <button type="button" class="unbutton control-button" data-action="deleteActivity"
                    data-tooltip="DND5E.ACTIVITY.Action.Delete"
                    aria-label="{{ localize "DND5E.ACTIVITY.Action.Delete" }}">
                <i class="fas fa-trash" inert></i>
            </button>
            {{/if}}
        </div>

    </div>
    {{/each}}
</div>
