<div class="form-group">
  <label>{{localize "DND5E.ReserveIdentifier"}}</label>
  <div class="form-fields">
    <input
      type="text"
      name="system.reserve.identifier"
      value="{{system.reserve.identifier}}"
    />
  </div>
</div>
{{#if system.reserve.identifier}}
  <div class="form-group">
    <label>{{localize "DND5E.ReserveTranslationKey"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.reserve.key"
        value="{{system.reserve.key}}"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "DND5E.ReserveFormula"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="system.reserve.formula"
        value="{{system.reserve.formula}}"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "DND5E.ReserveRefresh"}}</label>
    <div class="form-fields">
        <select name="system.reserve.refresh" data-tooltip="DND5E.UsesPeriod">
            {{selectOptions config.limitedUsePeriods selected=system.reserve.refresh blank=""}}
        </select>
    </div>
  </div>
  
{{/if}}