{{!-- Action Type --}}
<div class="form-group select">
    <label>{{ localize "DND5E.ItemActionType" }}</label>
    <select name="system.usageProfiles.0.actionType">
        {{#select system.usageProfiles.0.actionType}}
        <option value=""></option>
        {{#each config.itemActionTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

{{!-- Hides every subsequent field if there's no Action Type --}}
{{#if system.usageProfiles.0.actionType}}

{{!-- Ability Modifier --}}
<div class="form-group select">
    <label>{{ localize "DND5E.AbilityModifier" }}</label>
    <select name="system.usageProfiles.0.ability">
        {{#select system.usageProfiles.0.ability}}
        <option value="">{{ localize "DND5E.Default" }}</option>
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

{{!-- Attack Roll Bonus --}}
{{#if hasAttackRoll }}
<div class="form-group">
    <label>{{ localize "DND5E.ItemAttackBonus" }}</label>
    <div class="form-fields">
        <input type="text" name="system.usageProfiles.0.attackBonus" value="{{system.usageProfiles.0.attackBonus}}"/>
    </div>
</div>
{{/if}}

{{!-- Critical Hit Threshold --}}
{{#if hasAttackRoll }}
<div class="form-group">
    <label>{{ localize "DND5E.ItemCritThreshold" }}</label>
    <div class="form-fields">
        {{ numberInput system.usageProfiles.0.critical.threshold name="system.usageProfiles.0.critical.threshold" placeholder="20" max=20 min=1 step=1 }}
    </div>
</div>
{{/if}}

{{!-- Critical Hit Damage --}}
{{#if hasAttackRoll }}
<div class="form-group">
    <label>{{ localize "DND5E.ItemCritExtraDamage" }}</label>
    <div class="form-fields">
        <input type="text" name="system.usageProfiles.0.critical.damage" value="{{system.usageProfiles.0.critical.damage}}">
    </div>
</div>
{{/if}}

{{!-- Damage Formula --}}
<h4 class="damage-header">
    {{#unless isHealing }}{{ localize "DND5E.Damage" }}{{ else }}{{ localize "DND5E.Healing" }}{{/unless}} {{ localize "DND5E.Formula" }}
    {{#if editable}}<a class="damage-control add-damage"><i class="fas fa-plus"></i></a>{{/if}}
</h4>
<ol class="damage-parts form-group">
    {{#each system.usageProfiles.0.damage.parts as |part i| }}
    <li class="damage-part flexrow" data-damage-part="{{i}}">
        <input type="text" name="system.usageProfiles.{{0}}.damage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
        <select name="system.usageProfiles.{{0}}.damage.parts.{{i}}.1">
            {{#select (lookup this "1") }}
            <option value="">{{ localize "DND5E.None" }}</option>
            {{#each ../config.damageTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{#each ../config.healingTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{#if ../editable}}<a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>{{/if}}
    </li>
    {{/each}}
</ol>

{{!-- Other Formula --}}
<div class="form-group">
    <label>{{ localize "DND5E.OtherFormula" }}</label>
    <div class="form-fields">
        <input type="text" name="system.usageProfiles.0.formula" value="{{system.usageProfiles.0.formula}}" placeholder="{{ localize 'DND5E.Formula' }}"/>
    </div>
</div>

{{!-- Saving Throw --}}
<div class="form-group input-select">
    <label>{{ localize "DND5E.ActionSave" }}</label>
    <div class="form-fields">
        <select name="system.usageProfiles.0.save.ability">
            {{#select system.usageProfiles.0.save.ability}}
            <option value=""></option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            {{/select}}
        </select>
        <span>{{ localize "DND5E.VsDC" }}</span>
        <input type="number" step="any" name="system.usageProfiles.0.save.dc"
            value="{{#if system.usageProfiles.0.save.dc}}{{system.usageProfiles.0.save.dc}}{{/if}}"
            placeholder="{{ localize 'DND5E.AbbreviationDC' }}" {{#unless isFlatDC}}disabled{{/unless}}>
        <select name="system.usageProfiles.0.save.scaling">
            {{#select system.usageProfiles.0.save.scaling}}
            <option value="spell">{{ localize "DND5E.Spellcasting" }}</option>
            {{#each config.abilities as |ability a|}}
            <option value="{{a}}">{{ability}}</option>
            {{/each}}
            <option value="flat">{{ localize "DND5E.Flat" }}</option>
            {{/select}}
        </select>
    </div>
</div>

{{!-- Chat Message Flavor --}}
<div class="form-group stacked">
    <label>{{ localize "DND5E.ChatFlavor" }}</label>
    <input type="text" name="system.usageProfiles.0.chatFlavor" value="{{system.usageProfiles.0.chatFlavor}}"/>
</div>

{{/if}}