<section class="content">
    <section class="header">
        {{#if school}}
        <div class="school">
            {{#with (lookup @root.config.spellSchools school) as |schoolConfig|}}
            <dnd5e-icon src="{{ schoolConfig.icon }}"></dnd5e-icon>
            {{/with}}
        </div>
        {{/if}}
        <div class="top">
            <img src="{{ img }}" alt="{{ name }}">
            <div class="name name-stacked">
                <span class="title">{{ name }}</span>
                <span class="subtitle">{{{ subtitle }}}</span>
            </div>
        </div>
        <div class="bottom">
            <div class="price">
                {{#if price}}
                <i class="currency {{ price.denomination }}"></i>
                <span>{{ dnd5e-numberFormat price.value }}</span>
                {{/if}}
            </div>

            <div class="charges">
                {{#if uses.max}}
                <span class="value">{{ uses.value }}</span>
                <span class="separator">&sol;</span>
                <span class="max">{{ uses.max }}</span>
                <span>{{ localize "DND5E.Charges" }}</span>
                {{/if}}
            </div>
            <div class="weight">
                {{#if weight}}
                <i class="fas fa-weight-hanging"></i>
                <span>{{ weight.value }}</span>
                {{/if}}
            </div>
        </div>
    </section>
    {{#if (eq type "spell")}}
    <ul class="info unlist">
        <li>
            <strong>{{ localize "DND5E.SpellCastTime" }}:</strong>
            <span class="value">
                {{ labels.activation }}
                {{#if activation.condition}}
                <span class="condition">({{ activation.condition }})</span>
                {{/if}}
            </span>
        </li>
        <li>
            <strong>{{ localize "DND5E.Range" }}:</strong>
            <span class="value">{{ labels.range }}</span>
        </li>
        <li>
            <strong>{{ localize "DND5E.Target" }}:</strong>
            <span class="value">{{ labels.target }}</span>
        </li>
        <li>
            <strong>{{ localize "DND5E.Components" }}:</strong>
            <span class="value">
                {{ labels.components.vsm }}
                {{#if materials.value}}
                <span class="materials">({{ materials.value }})</span>
                {{/if}}
            </span>
        </li>
        <li>
            <strong>{{ localize "DND5E.Duration" }}:</strong>
            <span class="value">{{ labels.concentrationDuration }}</span>
        </li>
    </ul>
    {{/if}}
    <section class="description">{{{ description.value }}}</section>
    <ul class="pills">
        {{#if isSpell}}
        {{#each tags}}
        <li class="pill transparent">
            <span class="label">{{ this }}</span>
        </li>
        {{/each}}
        {{else}}
        {{#each properties}}
        <li class="pill transparent">
            <span class="label">{{ this }}</span>
        </li>
        {{/each}}
        {{/if}}
    </ul>
    {{#if controlHints}}
    <div class="lock-hint">
        <img src="systems/dnd5e/icons/svg/mouse-middle.svg" alt="{{ localize "DND5E.Controls.MiddleClick" }}">
        <span>{{ localize "DND5E.Controls.LockHint" }}</span>
    </div>
    {{/if}}
</section>
