{{#*inline "type-entry"}}
<div class="type-entry">
    <input type="checkbox" value="{{ @key }}" id="{{ @root.partId }}-{{ @key }}" data-action="setType"
           {{ checked chosen }} {{ disabled @root.isLocked.types }}>
    <label for="{{ @root.partId }}-{{ @key }}">{{ localize label }}</label>
</div>
{{/inline}}

<div class="flexcol">
    <h3>{{ localize "DND5E.CompendiumBrowser.Types.Label" }}</h3>
    {{#each types}}
    {{#if children}}
    <div class="type-group collapsible">
        <div class="type-group-header">
            <input type="checkbox" id="{{ @root.partId }}-{{ @key }}" data-action="setType"
                   {{ checked chosen }} {{ disabled @root.isLocked.types }}>
            <label for="{{ @root.partId }}-{{ @key }}">{{ localize label }}</label>
            <label data-action="toggleCollapse"><i class="fa-solid fa-caret-down"></i></label>
        </div>
        <div class="collapsible-content">
            <div class="wrapper">
                {{#each children}}
                {{> "type-entry" }}
                {{/each}}
            </div>
        </div>
    </div>
    {{else}}
    {{> "type-entry" }}
    {{/if}}
    {{/each}}
</div>
