<section class="activities">
    <strong class="roboto-condensed-upper">{{ localize "DND5E.CHATMESSAGE.Activities" }}</strong>
    <ul class="action-list unlist">
        {{#each activities}}
        <li class="activity flexrow item-tooltip" data-activity-uuid="{{ uuid }}" data-item-uuid="{{ item.uuid }}">
            <img class="gold-icon" src="{{ item.img }}" alt="{{ item.name }}">
            <a class="rollable" data-action="use">
                <span class="name-stacked">
                    <span class="title">{{ item.name }}</span>
                    <span class="subtitle">{{ name }}</span>
                </span>
            </a>
        </li>
        {{/each}}
    </ul>
</section>
