<section class="flexcol">
    {{!-- Ability Score & Maxmimum --}}
    <fieldset class="card">
        <legend>{{ localize "DND5E.ABILITY.SECTIONS.Score" ability=ability localize=true }}</legend>
        {{ formField fields.value name=(concat prefix "value") value=data.value localize=true }}
        {{ formField fields.max name=(concat prefix "max") value=data.max placeholder="20" localize=true }}
        {{ formField fields.proficient name=(concat prefix "proficient") value=data.proficient
                     options=proficiencyOptions localize=true }}
    </fieldset>

    {{!-- Local Bonuses --}}
    <fieldset class="card">
        <legend>{{ localize "DND5E.ABILITY.SECTIONS.Bonuses.Label" ability=ability }}</legend>
        <div class="form-group">
            <p class="hint">{{ localize "DND5E.ABILITY.SECTIONS.Bonuses.Hint" ability=ability }}</p>
        </div>
        {{ formField fields.bonuses.fields.save name=(concat prefix "bonuses.save") value=data.bonuses.save
                     localize=true }}
        {{ formField fields.bonuses.fields.check name=(concat prefix "bonuses.check") value=data.bonuses.check
                     localize=true }}
    </fieldset>

    {{!-- Global Bonuses --}}
    {{#if global}}
    <fieldset class="card">
        <legend>{{ localize "DND5E.ABILITY.SECTIONS.Global.Label" }}</legend>
        <div class="form-group">
            <p class="hint">{{ localize "DND5E.ABILITY.SECTIONS.Global.Hint" }}</p>
        </div>
        {{ formField global.fields.save value=global.data.save localize=true }}
        {{ formField global.fields.check value=global.data.check localize=true }}
    </fieldset>
    {{/if}}
</section>
