<fieldset>
    <legend>
        <span>{{ localize "DND5E.ARMORCLASS.Configuration" }}</span>
        <button class="unbutton control-button" data-action="addFormula" data-tooltip
                aria-label="{{ localize 'DND5E.ARMORCLASS.Action.CreateFormula' }}">
            <i class="fa-solid fa-plus" inert></i>
        </button>
    </legend>

    {{ formField fields.selectedFormulas value=source.selectedFormulas options=formulaOptions localize=true
                 rootId=partId }}
    {{ formField fields.flat value=source.flat localize=true rootId=partId }}
    {{ formField fields.override value=source.override localize=true rootId=partId }}

    {{#each customFormulas}}
    <div class="form-group split-group full-width card" data-index="{{ @index }}">
        <div class="form-fields field-groups">
            <div class="field-group">
                {{ formField fields.formula name=(concat "system.attributes.ac.formulas." @index ".formula")
                             value=source.formula classes="label-top" localize=true rootId=@root.partId }}
                <button class="unbutton control-button" type="button" data-action="deleteFormula" data-tooltip
                        aria-label="{{ localize 'DND5E.ARMORCLASS.Action.DeleteFormula' }}">
                    <i class="fa-solid fa-minus" inert></i>
                </button>
            </div>
            <div class="field-group">
                {{ formField fields.label name=(concat "system.attributes.ac.formulas." @index ".label")
                             value=source.label classes="label-top" localize=true rootId=@root.partId }}
            </div>
        </div>
    </div>
    {{else}}
    <div class="empty">
        {{{ localize "DND5E.ARMORCLASS.CustomFormulas.Empty" }}}
    </div>
    {{/each}}
</fieldset>
