<section class="flexcol">
    {{!-- Concentration --}}
    <fieldset class="card">
        <legend>{{ localize "DND5E.Concentration" }}</legend>
        {{ formField fields.ability value=data.ability options=abilityOptions localize=true }}
        {{ formField fields.bonuses.fields.save value=data.bonuses.save localize=true }}
        {{ formField fields.limit value=data.limit placeholder="1" localize=true }}
        <hr>
        {{ formField fields.roll.fields.mode value=data.roll.mode options=advantageModeOptions localize=true }}
        <div class="form-group">
            <label>{{ localize "DND5E.ROLL.Range.Label" }}</label>
            <div class="form-fields">
                {{ formField fields.roll.fields.min value=data.roll.min type="number" localize=true
                             label=(localize "DND5E.Minimum") hint=false classes="label-top" }}
                {{ formField fields.roll.fields.max value=data.roll.max type="number" localize=true
                             label=(localize "DND5E.Maximum") hint=false classes="label-top" }}
            </div>
        </div>
    </fieldset>

    {{!-- Global Bonus --}}
    {{#if global}}
    <fieldset class="card">
        <legend>{{ localize "DND5E.ABILITY.SECTIONS.Global.Label" }}</legend>
        <div class="form-group">
            <p class="hint">{{ localize "DND5E.ABILITY.SECTIONS.Global.Hint" }}</p>
        </div>
        {{ formField global.fields.save value=global.data.save localize=true }}
    </fieldset>
    {{/if}}
</section>
