<div class="dnd5e2 chat-card turn-card">
    {{#if actor}}

    {{!-- Deltas --}}
    {{#if deltas.length}}
    <section class="deltas">
        <strong class="roboto-condensed-upper">{{ localize "DND5E.CHATMESSAGE.TURN.Recovery" }}</strong>
        <ul class="unlist">
            {{#each deltas}}
            <li class="delta-{{ type }}">
                <span class="label">{{ label }}</span>
                <span class="value">{{ delta }}</span>
            </li>
            {{/each}}
        </ul>
        <!-- TODO: Add button to revert changes -->
    </section>
    {{/if}}

    {{!-- Actions --}}
    {{#if activities.length}}
    <section class="activities">
        <strong class="roboto-condensed-upper">{{ localize "DND5E.CHATMESSAGE.TURN.Activities" }}</strong>
        <ul class="unlist">
            {{#each activities}}
            <li class="activity flexrow item-tooltip" data-activity-uuid="{{ uuid }}" data-item-uuid="{{ item.uuid }}">
                <img class="gold-icon" src="{{ item.img }}" alt="{{ item.name }}">
                <span class="name-stacked">
                    <span class="title">{{ item.name }}</span>
                    <span class="subtitle">{{ name }}</span>
                </span>
                <button type="button" data-action="use">
                    {{ localize "DND5E.Use" }}
                </button>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}

    {{else}}
    <p>{{ localize "DND5E.CHATMESSAGE.TURN.NoCombatant" }}</p>
    {{/if}}
</div>
