<fieldset>
    <legend>
        {{#if (eq item.type "weapon")}}{{ localize "DND5E.ItemSiegeProperties" }}
        {{else if (eq item.type "equipment")}}{{ localize "DND5E.ItemVehicleProperties" }}{{/if}}
    </legend>

    {{!-- Armor Class --}}
    {{ formField fields.armor.fields.value value=source.armor.value localize=true }}
    {{ formField fields.cover value=source.cover options=coverOptions }}

    {{!-- Hit Points --}}
    <div class="form-group split-group">
        <label>{{ localize "DND5E.HitPoints" }}</label>
        <div class="form-fields">

            {{!-- Current --}}
            {{ formField fields.hp.fields.value value=source.hp.value label="DND5E.Current" placeholder="0"
                         localize=true classes="label-top" }}

            {{!-- Max --}}
            {{ formField fields.hp.fields.max value=source.hp.max label="DND5E.Max" placeholder="0" localize=true
                         classes="label-top" }}

            {{!-- Threshold --}}
            {{ formField fields.hp.fields.dt value=source.hp.dt label="DND5E.Threshold" placeholder="—" localize=true
                         classes="label-top" }}
        </div>

        {{!-- Conditions --}}
        {{ formInput fields.hp.fields.conditions value=source.hp.conditions input=inputs.createTextInput
                     placeholder=(localize "DND5E.VEHICLE.MOUNTABLE.FIELDS.hp.conditions.label") localize=true
                     classes="full-width" }}
    </div>

    {{!-- Speed --}}
    {{#if (eq item.type "equipment")}}
    <div class="form-group split-group">
        <label>{{ localize "DND5E.Speed" }}</label>
        <div class="form-fields">

            {{!-- Value --}}
            {{ formField fields.speed.fields.value value=source.speed.value placeholder="0" label="DND5E.Value"
                         localize=true classes="label-top" }}
        </div>

        {{!-- Conditions --}}
        {{ formInput fields.speed.fields.conditions value=source.speed.conditions input=inputs.createTextInput
                     placeholder=(localize "DND5E.VEHICLE.MOUNTABLE.FIELDS.speed.conditions.label") localize=true
                     classes="full-width" }}
    </div>
    {{/if}}
</fieldset>
