{{!-- Components --}}
{{#*inline "pip"}}
    <button type="button" class="{{ classes }}" data-n="{{ n }}" data-tooltip="{{ tooltip }}" aria-label="{{ label }}"
            aria-pressed="{{ filled }}"></button>
{{/inline}}

<form class="{{ cssClass }} flexcol" autocomplete="off">

    {{!-- TODO: Dark mode only --}}
    <div class="underlays">
        <div class="banner-image"></div>
        <div class="bottom-shadow"></div>
    </div>

    {{!-- Header --}}
    <header class="sheet-header">

        {{!-- Name & Class --}}
        <div class="left">

            {{!-- Name --}}
            {{#if editable}}
            <input type="text" name="name" class="name uninput" value="{{ actor.name }}">
            {{else}}
            <div class="name">{{ actor.name }}</div>
            {{/if}}

            {{!-- Class --}}
            <div class="class roboto-upper">{{ labels.class }}</div>
        </div>

        {{!-- Level, XP, & Buttons --}}
        <div class="right">

            {{!-- Level --}}
            <div class="level" aria-label="{{ localize "DND5E.LevelNumber" }}">{{ system.details.level }}</div>

            <div>
                {{!-- Resting & Special Traits --}}
                <div class="sheet-header-buttons">
                    <button type="button" class="short-rest unbutton" data-tooltip="DND5E.ShortRest"
                            aria-label="{{ localize "DND5E.ShortRest" }}">
                        <i class="fas fa-utensils"></i>
                    </button>
                    <button type="button" class="long-rest unbutton" data-tooltip="DND5E.LongRest"
                            aria-label="{{ localize "DND5E.LongRest" }}">
                        <i class="fas fa-campground"></i>
                    </button>
                    <button type="button" class="config-button unbutton" data-action="flags"
                            data-tooltip="DND5E.SpecialTraits" aria-label="{{ localize "DND5E.SpecialTraits" }}">
                        <i class="fas fa-star"></i>
                    </button>
                </div>

                {{!-- XP --}}
                {{#with system.details.xp}}
                <div class="xp-label roboto-upper">
                    {{#if @root.editable}}
                    <input type="text" name="system.details.xp.value" class="value uninput" data-dtype="Number"
                           value="{{ value }}">
                    {{else}}
                    <span class="value">{{ dnd5e-numberFormat value }}</span>
                    {{/if}}
                    <span class="separator">&sol;</span>
                    <span class="max">{{ dnd5e-numberFormat max }}</span>
                </div>
                <div class="xp-bar" role="meter" aria-label="{{ localize "DND5E.ExperiencePointsLabel" }}"
                     aria-valuemin="{{ min }}" aria-valuenow="{{ value }}" aria-valuemax="{{ max }}"
                     aria-valuetext="{{ pct }}%" style="--bar-percentage: {{ pct }}%;"></div>
                {{/with}}
            </div>
        </div>
    </header>

    {{!-- Body --}}
    <section class="sheet-body">

        {{!-- Underlays --}}
        <div class="underlays"></div>

        {{!-- Main Content --}}
        <div class="content">

            {{!-- Sidebar --}}
            <div class="sidebar">

                {{!-- Character Card --}}
                <div class="card">

                    {{!-- Portrait --}}
                    <div class="portrait {{#if portrait.token}}token{{/if}}">
                        {{#if editable}}
                        <label class="slide-toggle roboto-upper">
                            <input type="checkbox" name="flags.dnd5e.showTokenPortrait" {{ checked portrait.token }}>
                            {{#if portrait.token}}
                            <i class="fas fa-toggle-on"></i>
                            {{ localize "DOCUMENT.Token" }}
                            {{else}}
                            <i class="fas fa-toggle-off"></i>
                            {{ localize "DND5E.Portrait" }}
                            {{/if}}
                        </label>
                        {{/if}}

                        <img src="{{ portrait.src }}" alt="{{ actor.name }}"
                             {{#if (and editable portrait.path)}}data-edit="{{ portrait.path }}"{{/if}}>
                    </div>

                    {{!-- Stats --}}
                    <div class="stats">

                        {{!-- AC & Exhaustion --}}
                        <div class="top">

                            <div class="pips" data-prop="system.attributes.exhaustion">
                                {{#each exhaustion}}
                                {{#if (lt @index 3)}}
                                    {{> pip }}
                                {{/if}}
                                {{/each}}
                            </div>

                            {{!-- AC --}}
                            <div class="ac" aria-label="{{ localize "DND5E.ArmorClass" }}">
                                {{#if editable}}
                                <a class="config-button" data-action="armor" data-tooltip="DND5E.ArmorConfig"
                                   aria-label="{{ localize "DND5E.ArmorConfig" }}">
                                    <i class="fas fa-cog"></i>
                                </a>
                                {{else}}
                                <div data-attribution="attributes.ac" data-attribution-caption="DND5E.ArmorClass"
                                     data-tooltip-direction="DOWN">
                                    {{ system.attributes.ac.value }}
                                </div>
                                {{/if}}
                            </div>

                            <div class="pips" data-prop="system.attributes.exhaustion">
                                {{#each exhaustion}}
                                {{#if (gt @index 2)}}
                                    {{> pip }}
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>

                        {{!-- Initiative, Speed, & Proficiency --}}
                        <div class="lozenges">

                            {{!-- Initiative --}}
                            <div class="lozenge {{#unless editable}}rollable{{/unless}}"
                                 {{#unless editable}}data-action="rollInitiative"{{/unless}}>
                                <div class="value">
                                    {{#if editable}}
                                    <a class="config-button" data-action="initiative"
                                       data-tooltip="DND5E.InitiativeConfig"
                                       aria-label="{{ localize "DND5E.InitiativeConfig" }}">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                    {{else}}
                                    <span>
                                        {{ dnd5e-numberFormat system.attributes.init.total signDisplay="always" }}
                                    </span>
                                    {{/if}}
                                </div>
                                <div class="label roboto-condensed-upper">{{ localize "DND5E.Initiative" }}</div>
                            </div>

                            {{!-- Speed --}}
                            <div class="lozenge speed-tooltip">
                                <div class="value">
                                    {{#if editable}}
                                    <a class="config-button" data-action="movement" data-tooltip="DND5E.MovementConfig">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                    {{else}}
                                    {{ speed.value }}
                                    {{/if}}
                                </div>
                                <div class="label roboto-condensed-upper">{{ speed.label }}</div>
                            </div>

                            {{!-- Proficiency --}}
                            <div class="lozenge">
                                <div class="value">
                                    {{ dnd5e-numberFormat system.attributes.prof signDisplay="always" }}
                                </div>
                                <div class="label roboto-condensed-upper">{{ localize "DND5E.Proficiency" }}</div>
                            </div>
                        </div>

                    </div>


                </div>

                {{!-- Favorites --}}
                <div class="favorites">
                    <h3>
                        <i class="fas fa-star"></i>
                        <span class="roboto-upper">{{ localize "DND5E.Favorites" }}</span>
                    </h3>
                </div>
            </div>
        </div>

    </section>

</form>
