<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            {{> "dnd5e.actor-warnings"}}

            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel" data-tooltip="{{multiclassLabels}}">
                    <label>{{ localize "DND5E.Level" }} {{system.details.level}}</label>
                    <span class="levels">{{classLabels}}</span>
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}" placeholder="0" data-dtype="Number">
                    <span class="sep">/</span>
                    <span class="max">{{system.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{system.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li class="race">
                    {{#if system.details.race.name}}
                        <span data-tooltip="DND5E.Race">{{system.details.race.name}}</span>
                    {{else}}
                        <input type="text" name="system.details.race" value="{{system.details.race}}"
                               placeholder="{{ localize 'DND5E.Race' }}">
                    {{/if}}
                </li>
                <li class="background">
                    {{#if system.details.background.name}}
                        <span data-tooltip="DND5E.Background">{{system.details.background.name}}</span>
                    {{else}}
                        <input type="text" name="system.details.background" value="{{system.details.background}}" placeholder="{{ localize 'DND5E.Background' }}"/>
                    {{/if}}
                </li>
                <li class="alignment">
                    <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}"/>
                </li>
                <li class="proficiency">
                    <span>{{ localize "DND5E.Proficiency" }} {{labels.proficiency}}</span>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{localize "DND5E.HitPoints"}}</h4>
                    <a class="config-button" data-action="hit-points" data-tooltip="DND5E.HitPointsConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.hp.value" type="text" value="{{hp.value}}" placeholder="10"
                            data-tooltip="DND5E.HitPointsCurrent" data-dtype="Number">
                        <span class="sep"> / </span>
                        <span data-tooltip="{{#if source.attributes.hp.max}}DND5E.HitPointsOverride{{else}}DND5E.HitPointsMax{{/if}}">
                            {{hp.max}}
                        </span>
                    </div>
                    <footer class="attribute-footer">
                        <input name="system.attributes.hp.temp" type="text" class="temphp"
                            placeholder="+{{ localize 'DND5E.Temp' }}" value="{{hp.temp}}"
                            data-tooltip="DND5E.HitPointsTemp" data-dtype="Number">
                        <input name="system.attributes.hp.tempmax" type="text" class="temphp"
                            placeholder="+{{ localize 'DND5E.Max' }}" value="{{hp.tempmax}}"
                            data-tooltip="DND5E.HitPointsTempMax" data-dtype="Number">
                    </footer>
                </li>

                <li class="attribute hit-dice">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.HitDice" }}</h4>
                    <a class="config-button" data-action="hit-dice" data-tooltip="DND5E.HitDiceConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value multiple">
                        <label class="hit-dice">
                            <span data-tooltip="DND5E.HitDiceRemaining">{{system.attributes.hd}}</span>
                            <span class="sep"> / </span>
                            <span data-tooltip="DND5E.HitDiceMax">{{system.details.level}}</span>
                        </label>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest" data-tooltip="DND5E.ShortRest">{{localize "DND5E.RestS"}}</a>
                        <a class="rest long-rest" data-tooltip="DND5E.LongRest">{{localize "DND5E.RestL"}}</a>
                    </footer>
                </li>

                <li class="attribute armor">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.ArmorClass" }}</h4>
                    <a class="config-button" data-action="armor" data-tooltip="DND5E.ArmorConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value" data-attribution="attributes.ac"
                        data-attribution-caption="DND5E.ArmorClass" data-tooltip-direction="DOWN">
                        <span>{{system.attributes.ac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span class="spell-dc">{{localize "DND5E.SpellDC"}} {{system.attributes.spelldc}}</span>
                    </footer>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.Movement" }}</h4>
                    <a class="config-button" data-action="movement" data-tooltip="DND5E.MovementConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">
                        {{ localize "DND5E.Initiative" }}
                    </h4>
                    <a class="config-button" data-action="initiative" data-tooltip="DND5E.InitiativeConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value">
                        <span>{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                </li>
            </ul>
        </section>
    </header>
    {{#if system.creation.validate}}
        {{> "dnd5e.actor-body"}}
    {{else}}
        {{> "dnd5e.actor-score-generation"}}
    {{/if}}
</form>
