<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            {{> "shaper.actor-warnings"}}

            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'SHAPER.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel">
                    <span>{{ localize "SHAPER.Level" }}</span>
                    <input name="system.details.level" type="text" data-dtype="Number" placeholder="0"
                        value="{{numberFormat system.details.level}}"/>
                </div>
                <div class="charlevel">
                    <span>{{ localize "SHAPER.HeroTier" }}</span>
                    <input name="system.details.tier" type="text" data-dtype="Number" placeholder="0"
                        value="{{numberFormat system.details.tier}}"/>
                </div>
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <span class="current-xp-label">{{localize "SHAPER.CurrentXP"}}</span>
                    <input name="system.details.xp.value" type="text" data-dtype="Number" placeholder="0"
                           value="{{numberFormat system.details.xp.value}}"/>
                    <span class="total-xp-label">{{localize "SHAPER.TotalXP"}}</span>
                    <input name="system.details.xp.total" type="text" data-dtype="Number" placeholder="0"
                           value="{{numberFormat system.details.xp.total}}"/>
                </div>
                {{/unless}}
            </aside>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "SHAPER.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.hp.value" type="number" step="any"
                            value="{{system.attributes.hp.value}}" placeholder="10"
                            title="{{localize 'SHAPER.HitPointsCurrent'}}">
                        <span class="sep"> / </span>
                        <input name="system.attributes.hp.max" type="number" step="any"
                            value="{{system.attributes.hp.max}}" placeholder="10"
                            title="{{localize 'SHAPER.HitPointsMax'}}">
                    </div>
                </li>
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "SHAPER.MindPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.mp.value" type="number" step="any"
                            value="{{system.attributes.mp.value}}" placeholder="10"
                            title="{{localize 'SHAPER.MindPointsCurrent'}}">
                        <span class="sep"> / </span>
                        <input name="system.attributes.mp.max" type="number" step="any"
                            value="{{system.attributes.mp.max}}" placeholder="10"
                            title="{{localize 'SHAPER.MindPointsMax'}}">
                    </div>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "SHAPER.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'SHAPER.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "SHAPER.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "SHAPER.Modifier" }}</span>
                        <input name="system.attributes.init.value" type="text" data-dtype="Number" placeholder="0"
                               value="{{numberFormat system.attributes.init.value decimals=0 sign=true}}"/>
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "SHAPER.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "SHAPER.Features" }}</a>
        <a class="item" data-tab="inventory">{{ localize "SHAPER.Inventory" }}</a>
        <a class="item" data-tab="effects">{{ localize "SHAPER.Effects" }}</a>
        <a class="item" data-tab="biography">{{ localize "SHAPER.Biography" }}</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each system.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    {{numberInput ability.value name=(concat "system.abilities." id ".value")
                        class="ability-score" placeholder="0"}}
                    <a class="config-button" data-action="ability" title="{{localize 'SHAPER.AbilityConfigure'}}"><i class="fas fa-cog"></i></a>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each config.skills as |obj s|}}
            {{#with (lookup ../system.skills s) as |skill|}}
                <li class="skill flexrow" data-skill="{{s}}">
                    <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number"/>
                    <div class="skill-name-controls">
                      <h4 class="skill-name rollable">{{skill.label}}</h4>
                      <a class="config-button" data-action="skill" title="{{localize 'SHAPER.SkillConfigure'}}"><i class="fas fa-cog"></i></a>
                    </div>
                    <span class="skill-ability">{{skill.ability0}}</span>
                    <span class="skill-ability">{{skill.ability1}}</span>
                    <span class="skill-mod" title="{{ localize 'SHAPER.SkillModifierHint' skill=skill.label }}">
                        {{numberFormat skill.total decimals=0 sign=true}}
                    </span>
                    <span class="skill-points" title="{{ localize 'SHAPER.SkillPointsHint' skill=skill.label }}">
                        {{numberInput skill.points name=(concat "system.skills." s ".points")}}
                    </span>
                </li>
            {{/with}}
            {{/each}}
            </ul>

            <section class="lcenter-pane flexcol">

                {{!-- Body Attributes --}}
                <ul class="attributes flexcol">
                {{#each stats as |stat|}}
                    <li class="attribute stats">
                        <h4 class="attribute-name box-title">{{ stat.placeholder }}</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat stat.value name=(concat "system.stats." stat.name ".value")}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <span>{{ localize "SHAPER.Modifier" }}</span>
                            {{numberInput stat.bonus name=(concat "system.stats." stat.name ".bonus")}}
                        </footer>
                    </li>
                {{/each}}
                </ul>
            </section>

            <section class="rcenter-pane flexcol">
                {{!-- Counters --}}
                <div class="counters">
                    <div class="counter flexrow ">
                        <h4>{{ localize "SHAPER.Injury" }}</h4>
                        <div class="counter-value">
                            {{numberInput system.counts.injury.value name="system.counts.injury.value"
                                placeholder="0"}}
                        </div>
                    </div>
                    <div class="counter flexrow ">
                        <h4>{{ localize "SHAPER.OBuff" }}</h4>
                        <div class="counter-value">
                            {{numberInput system.counts.obuff.value name="system.counts.obuff.value"
                                placeholder="0"}}
                        </div>
                    </div>
                    <div class="counter flexrow ">
                        <h4>{{ localize "SHAPER.DBuff" }}</h4>
                        <div class="counter-value">
                            {{numberInput system.counts.dbuff.value name="system.counts.dbuff.value"
                                placeholder="0"}}
                        </div>
                    </div>
                    <div class="counter flexrow ">
                        <h4>{{ localize "SHAPER.Vitality" }}</h4>
                        <div class="counter-value">
                            {{numberInput system.counts.vitality.value name="system.counts.vitality.value"
                                placeholder="0"}}
                        </div>
                    </div>
                    <div class="counter flexrow ">
                        <h4>{{ localize "SHAPER.Capacity" }}</h4>
                        <div class="counter-value">
                            {{numberInput system.counts.capacity.value name="system.counts.capacity.value"
                                placeholder="0"}}
                        </div>
                    </div>
                </div>
                {{!-- Traits --}}
                {{> "shaper.actor-traits"}}
            </section>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "shaper.actor-features" sections=features}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "shaper.actor-inventory" sections=inventory}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "shaper.active-effects"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "SHAPER.Appearance" }}</label>
                <textarea name="system.details.appearance">{{system.details.appearance}}</textarea>
                <label>{{ localize "SHAPER.PersonalityTraits" }}</label>
                <textarea name="system.details.trait">{{system.details.trait}}</textarea>
                <label>{{ localize "SHAPER.Ideals" }}</label>
                <textarea name="system.details.ideal">{{system.details.ideal}}</textarea>
                <label>{{ localize "SHAPER.Bonds" }}</label>
                <textarea name="system.details.bond">{{system.details.bond}}</textarea>
                <label>{{ localize "SHAPER.Flaws" }}</label>
                <textarea name="system.details.flaw">{{system.details.flaw}}</textarea>
            </div>
            <div class="biography">
                {{editor biographyHTML target="system.details.biography.value" button=true editable=editable
                         engine="prosemirror" collaborate=false}}
            </div>
        </div>
    </section>
</form>
