<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" alt="{{actor.name}}" data-edit="img">
        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DND5E.Name'}}">
            </h1>
            <ul class="summary flexrow">
                <li>
                    <span>{{summary}}</span>
                </li>
                <li class="type">
                    <select name="system.type.value">
                        {{selectOptions config.groupTypes selected=system.type.value
                                        blank=(localize "DND5E.Group.TypeGeneric")}}
                    </select>
                </li>
            </ul>

            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{localize "DND5E.GroupHP"}}</h4>
                    <div class="attribute-value">
                        <span class="value" data-tooltip="DND5E.HitPointsCurrent">{{currentHP}}</span>
                        <span class="sep"> &sol; </span>
                        <span class="value" data-tooltip="DND5E.HitPointsMax">{{maxHP}}</span>
                    </div>
                </li>
                <li class="attribute movement">
                    <h4 class="attribute-name box-title">{{localize "DND5E.Movement"}}</h4>
                    <a class="action-button config-button" data-action="movementConfig"
                       data-tooltip="DND5E.MovementConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.secondary}}</span>
                    </footer>
                </li>
                {{#if xp}}
                <li class="attribute xp">
                    <h4 class="attribute-name box-title">{{localize "DND5E.ExperiencePoints"}}</h4>
                    <div class="attribute-value">
                        {{ numberInput xp.value name="system.details.xp.value" min=0 step=1
                           placeholder=(dnd5e-numberFormat xp.derived) }}
                    </div>
                </li>
                {{/if}}
            </ul>
        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="members">{{localize 'DND5E.Group.Member.other'}}</a>
        <a class="item" data-tab="inventory">{{localize 'DND5E.GroupInventory'}}</a>
        <a class="item" data-tab="description">{{localize 'DND5E.Description'}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab members" data-group="primary" data-tab="members">
            {{> "dnd5e.group-members"}}
        </div>

        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "dnd5e.inventory" sections=inventory}}
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor descriptionFull target="system.description.full" button=true editable=editable
                     engine="prosemirror" collaborate=false}}
        </div>

    </section>
</form>
