<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" alt="{{actor.name}}"
             data-edit="img">
        <section class="header-details flexrow">
            {{> "shaper.actor-warnings"}}

            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SHAPER.Name'}}">
            </h1>
            <ul class="summary flexrow">
                <li>
                    <span>{{lookup config.actorSizes system.traits.size}}</span>
                </li>
                <li>
                    <select name="system.vehicleType">
                      {{selectOptions config.vehicleTypes selected=system.vehicleType}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.traits.dimensions" value="{{system.traits.dimensions}}"
                           placeholder="{{localize 'SHAPER.Dimensions'}}">
                </li>
                <li>
                    <input type="text" name="system.details.source" value="{{system.details.source}}"
                           placeholder="{{localize 'SHAPER.Source'}}">
                </li>
            </ul>
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{localize 'SHAPER.HitPoints'}}</h4>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.hp.value" type="number" step="any"
                            value="{{system.attributes.hp.value}}" placeholder="&mdash;"
                            title="{{localize 'SHAPER.HitPointsCurrent'}}">
                        <span class="sep"> &sol; </span>
                        <input name="system.attributes.hp.max" type="number" step="any"
                            value="{{system.attributes.hp.max}}" placeholder="&mdash;"
                            title="{{localize 'SHAPER.HitPointsMax'}}">
                    </div>
                </li>
                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "SHAPER.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'SHAPER.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{localize 'SHAPER.Attributes'}}</a>
        <a class="item" data-tab="features">{{localize 'SHAPER.Features'}}</a>
        <a class="item" data-tab="cargo">{{localize 'SHAPER.VehicleCargoCrew'}}</a>
        <a class="item" data-tab="effects">{{ localize "SHAPER.Effects" }}</a>
        <a class="item" data-tab="biography">{{localize 'SHAPER.Description'}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
            <ul class="ability-scores flexrow">
            {{#each system.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    {{numberInput ability.value name=(concat "system.abilities." id ".value")
                        class="ability-score" placeholder="0"}}
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="{{localize 'SHAPER.Modifier'}}">
                            {{numberFormat ability.mod decimals=0 sign=true}}
                        </span>
                    </div>
                </li>
            {{/each}}
            </ul>
            <section class="center-pane flexcol">
                <div class="counters">
                    <div class="counter flexrow creature-cap">
                        <h4>{{localize 'SHAPER.VehicleCreatureCapacity'}}</h4>
                        <div class="counter-value">
                            <input type="text" placeholder="&mdash;"
                                   name="system.attributes.capacity.creature"
                                   value="{{system.attributes.capacity.creature}}">
                        </div>
                    </div>
                    <div class="counter flexrow cargo-cap">
                        <h4>{{localize 'SHAPER.VehicleCargoCapacity'}}</h4>
                        <div class="counter-value">
                            {{numberInput system.attributes.capacity.cargo name="system.attributes.capacity.cargo"
                                placeholder="0"}}
                        </div>
                    </div>
                    <div class="counter flexrow stations">
                        <h4>{{localize 'SHAPER.VehicleActionStations'}}</h4>
                        <div class="counter-value">
                            <input name="system.attributes.actions.stations" type="checkbox"
                                   data-dtype="Boolean" value="{{system.attributes.actions.stations}}"
                                   {{checked system.attributes.actions.stations}}>
                        </div>
                    </div>
                    <div class="counter flexrow actions">
                        <h4>{{localize 'SHAPER.ActionPl'}}</h4>
                        <div class="counter-value">
                            <input name="system.attributes.actions.value" type="number" step="any"
                                value="{{system.attributes.actions.value}}" placeholder="0"
                                title="{{localize 'SHAPER.VehicleActionsHint'}}">
                        </div>
                    </div>
                    <div class="counter flexrow action-thresholds">
                        <h4>{{localize 'SHAPER.VehicleActionThresholds'}}</h4>
                        <div class="counter-value">
                            <span class="sep">&lt;</span>
                            <input name="system.attributes.actions.thresholds.2" type="number" step="any"
                                value="{{system.attributes.actions.thresholds.[2]}}" placeholder="&mdash;"
                                title="{{localize 'SHAPER.VehicleActionThresholdsFull'}}">
                            <span class="sep">&lt;</span>
                            <input name="system.attributes.actions.thresholds.1" type="number" step="any"
                                value="{{system.attributes.actions.thresholds.[1]}}" placeholder="&mdash;"
                                title="{{localize 'SHAPER.VehicleActionThresholdsMid'}}">
                            <span class="sep">&lt;</span>
                            <input name="system.attributes.actions.thresholds.0" type="number" step="any"
                                value="{{system.attributes.actions.thresholds.[0]}}" placeholder="&mdash;"
                                title="{{localize 'SHAPER.VehicleActionThresholdsMin'}}">
                        </div>
                    </div>
                </div>
                {{> "shaper.actor-traits"}}
            </section>
        </div>

        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "shaper.actor-features" sections=features}}
        </div>

        <div class="tab cargo flexcol" data-group="primary" data-tab="cargo">
            {{> "shaper.actor-inventory" sections=cargo}}
        </div>
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "shaper.active-effects"}}
        </div>
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor biographyHTML target="system.details.biography.value" button=true editable=editable
                     engine="prosemirror" collaborate=false}}
        </div>
    </section>
</form>
