<div class="rolls">

    {{!-- Dice Display --}}
    <ul class="dice unlist">
        {{#each dice}}
        <li>
            <img src="{{ icon }}" alt="{{ label }}">
            <span class="label">{{ label }}</span>
        </li>
        {{/each}}
    </ul>

    {{!-- Formulas --}}
    <ul class="formulas unlist">
        {{#each rolls}}
        <li>
            <span class="formula">{{ formula }}</span>
            <span class="label">{{#if type}}{{ type }}{{else}}{{ localize "DND5E.Formula" }}{{/if}}</span>
        </li>
        {{/each}}
    </ul>

    {{!-- Situational Bonus --}}
    <div class="form-group">
        <input type="text" class="full-width" name="situational" value="{{ situational }}"
               placeholder="{{ localize "DND5E.RollSituationalBonus" }}">
    </div>

</div>
