<form autocomplete="off">
  <p class="notes">{{localize "SHAPER.AbilityConfigurationHint"}}</p>
  
  <h3 class="form-header">{{labelChecks}}</h3>
  <div class="form-group">
    <label>{{localize "SHAPER.AbilityCheckBonus"}}</label>
    <input name="system.abilities.{{abilityId}}.bonuses.check" type="text" value="{{ability.bonuses.check}}">
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "SHAPER.BonusAbilityCheck"}}</label>
    <input name="system.bonuses.abilities.check" type="text" value="{{bonusGlobalCheck}}"/>
    <p class="notes">{{localize "SHAPER.AbilityCheckGlobalBonusHint"}}</p>
  </div>

  <button type="submit"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>
