<form id="ability-use-form">
    <p>{{title}}</p>
    <p class="notes">{{note}}</p>
    {{#each warnings}}
    <p class="notification warning">{{this}}</p>
    {{/each}}

    {{#if (eq scaling "resource")}}
    <div class="form-group">
        <label>{{ localize "DND5E.ConsumeScalingLabel" }}</label>
        <div class="form-fields">
            <select name="resourceAmount">
                {{#if resourceArray}}
                {{#select item.system.consume.target}}
                {{#each resourceOptions}}
                <option value="{{key}}" {{disabled (not canCast)}}>{{label}}</option>
                {{/each}}
                {{/select}}
                {{else}}
                {{selectOptions resourceOptions selected=resourceAmount localize=true}}
                {{/if}}
            </select>
        </div>
    </div>
    {{/if}}

    {{#if (eq scaling "slot")}}
    <div class="form-group">
        <label>{{ localize "DND5E.SpellCastUpcast" }}</label>
        <div class="form-fields">
            <select name="slotLevel">
                {{#select slotLevel}}
                {{#each slotOptions as |l|}}
                <option value="{{l.key}}" {{disabled (not l.canCast)}}>{{l.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeSpellSlot" {{ checked consumeSpellSlot }}>
            {{localize "DND5E.SpellCastConsume"}}
        </label>
    </div>
    {{/if}}

    {{#if (ne beginConcentrating null)}}
    {{#if concentration.show}}
    <div class="form-group">
        <label>{{ localize "DND5E.ConcentratingEnd" }}</label>
        <div class="form-fields">
            <select name="endConcentration">
                {{selectOptions concentration.options selected=endConcentration sort=true blank=concentration.optional nameAttr="name" labelAttr="label"}}
            </select>
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="beginConcentrating" {{checked beginConcentrating}}>
            {{ localize "DND5E.Concentration" }}
        </label>
    </div>
    {{/if}}

    {{#if (ne consumeUsage null)}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeUsage" {{ checked consumeUsage }}>
            {{localize "DND5E.AbilityUseConsume"}}
        </label>
    </div>
    {{/if}}

    {{#if (ne consumeResource null)}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeResource" {{ checked consumeResource }}>
            {{localize "DND5E.ConsumeResource"}}
        </label>
    </div>
    {{/if}}

    {{#if (ne createMeasuredTemplate null)}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="createMeasuredTemplate" {{ checked createMeasuredTemplate }}>
            {{ localize "DND5E.PlaceTemplate" }}
        </label>
    </div>
    {{/if}}

    {{#if enchantmentOptions.profiles}}
    <div class="form-group">
        <label>{{ localize "DND5E.Enchantment.Label" }}
        </label>
        <div class="form-fields">
            <select name="enchantmentProfile" aria-label="{{ localize 'DND5E.Enchantment.Label' }}">
                {{ selectOptions enchantmentOptions.profiles selected=enchantmentProfile }}
            </select>
        </div>
    </div>
    {{else if enchantmentOptions.profile}}
    <input type="hidden" name="enchantmentProfile" value="{{ enchantmentOptions.profile }}">
    {{/if}}

    {{#if (ne createSummons null)}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="createSummons" {{ checked createSummons }}>
            {{ localize "DND5E.Summoning.Action.Place" }}
        </label>
        {{#if summoningOptions.profiles}}
        <div class="form-fields">
            <select name="summonsProfile" aria-label="{{ localize 'DND5E.Summoning.Profile.Label' }}">
                {{ selectOptions summoningOptions.profiles selected=summonsProfile }}
            </select>
        </div>
        {{else}}
        <input type="hidden" name="summonsProfile" value="{{ summoningOptions.profile }}">
        {{/if}}
    </div>

    {{#if summoningOptions.creatureSizes}}
    <div class="form-group">
        <label>{{ localize "DND5E.Size" }}</label>
        <div class="form-fields">
            <select name="summonsOptions.creatureSize">
                {{ selectOptions summoningOptions.creatureSizes }}
            </select>
        </div>
    </div>
    {{/if}}

    {{#if summoningOptions.creatureTypes}}
    <div class="form-group">
        <label>{{ localize "DND5E.CreatureType" }}</label>
        <div class="form-fields">
            <select name="summonsOptions.creatureType">
                {{ selectOptions summoningOptions.creatureTypes }}
            </select>
        </div>
    </div>
    {{/if}}
    {{/if}}
</form>
