<form id="ability-use-form">
    <p>{{title}}</p>
    <p class="notes">{{note}}</p>
    {{#each warnings}}
    <p class="notification warning">{{this}}</p>
    {{/each}}

    {{#if (ne createSummons null)}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="createSummons" {{ checked createSummons }}>
            {{ localize "DND5E.Summoning.Action.Place" }}
        </label>
        {{#if summoningOptions.profiles}}
        <div class="form-fields">
            <select name="summonsProfile" aria-label="{{ localize 'DND5E.Summoning.Profile.Label' }}">
                {{ selectOptions summoningOptions.profiles selected=summonsProfile }}
            </select>
        </div>
        {{else}}
        <input type="hidden" name="summonsProfile" value="{{ summoningOptions.profile }}">
        {{/if}}
    </div>

    {{#if summoningOptions.creatureSizes}}
    <div class="form-group">
        <label>{{ localize "DND5E.Size" }}</label>
        <div class="form-fields">
            <select name="summonsOptions.creatureSize">
                {{ selectOptions summoningOptions.creatureSizes }}
            </select>
        </div>
    </div>
    {{/if}}

    {{#if summoningOptions.creatureTypes}}
    <div class="form-group">
        <label>{{ localize "DND5E.CreatureType" }}</label>
        <div class="form-fields">
            <select name="summonsOptions.creatureType">
                {{ selectOptions summoningOptions.creatureTypes }}
            </select>
        </div>
    </div>
    {{/if}}
    {{/if}}
</form>
