<form id="ability-use-form">
    <p>{{title}}</p>
    <p class="notes">{{note}}</p>
    {{#each errors}}
    <p class="notification error">{{this}}</p>
    {{/each}}

    {{#if consumeUses}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeUsage" checked>{{localize "SHAPER.AbilityUseConsume"}}
        </label>
    </div>
    {{/if}}

    {{#if consumeResource}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeResource" checked>{{localize "SHAPER.ConsumeResource"}}
        </label>
    </div>
    {{/if}}

    {{#if consumeRecharge}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeRecharge" checked>{{localize "SHAPER.ConsumeRecharge"}}
        </label>
    </div>
    {{/if}}

    {{#if consumeUpkeep}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeUpkeep" checked>{{localize "SHAPER.ConsumeUpkeep"}}
        </label>
    </div>
    {{/if}}

    {{#if createTemplate}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="createMeasuredTemplate" checked>{{localize "SHAPER.PlaceTemplate"}}
        </label>
    </div>
    {{/if}}
</form>
