<form autocomplete="off">
    {{#unless hideXP}}
    <div class="xp">
        <label>
            <span>{{localize "DND5E.ExperiencePoints"}}</span>
            {{numberInput xp name="xp" min=0 step=1}}
        </label>
    </div>
    {{/unless}}
    <div class="amount">
        {{#each currency}}
        <label>
            <span>{{label}}</span>
            {{numberInput value name=(concat "amount." @key) min=0 step=1}}
        </label>
        {{/each}}
    </div>
    <div class="destinations">
        {{#each destinations}}
        <label>
            <input type="checkbox" name="destination.{{doc.id}}">
            {{{icon}}} {{doc.name}}
        </label>
        {{else}}
        <p class="no-desinations">{{localize "DND5E.CurrencyManager.Transfer.NoDestinations"}}</p>
        {{/each}}
    </div>
    <button type="submit" name="transfer" disabled>{{localize "DND5E.Award.Action"}}</button>
</form>
