<form autocomplete="off">
    <nav data-group="primary">
        <a data-tab="convert">{{localize "DND5E.CurrencyManager.Convert.Label"}}</a>
        <a data-tab="transfer">{{localize "DND5E.CurrencyManager.Transfer.Label"}}</a>
    </nav>

    <div class="sheet-content">
        <section class="tab" data-group="primary" data-tab="convert">
            <p class="hint">{{localize "DND5E.CurrencyManager.Convert.Hint"}}</p>
            <button type="submit" name="convert">{{localize "DND5E.CurrencyManager.Convert.Action"}}</button>
        </section>
        
        <section class="tab" data-group="primary" data-tab="transfer">
            <div class="amount">
                <button type="button" name="setAll">{{localize "DND5E.CurrencyManager.Transfer.All"}}</button>
                <button type="button" name="setHalf">{{localize "DND5E.CurrencyManager.Transfer.Half"}}</button>
                {{#each currency}}
                <label>
                    <span>{{lookup (lookup @root.CONFIG.currencies @key) "label"}}</span>
                    <input type="number" name="amount.{{@key}}">
                </label>
                {{/each}}
            </div>
            <div class="destinations">
                {{#each destinations}}
                <label><input type="radio" name="destination" value="{{id}}"> {{name}}</label>
                {{else}}
                {{localize "DND5E.CurrencyManager.Transfer.NoDestinations"}}
                {{/each}}
            </div>
            <button type="submit" name="transfer" disabled>{{localize "DND5E.CurrencyManager.Transfer.Action"}}</button>
        </section>  
    </div>
</form>
