<div>
    <header>
        <input type="text" class="document-name uninput" name="name" value="{{ name }}" autofocus
               placeholder="{{ localize 'Name' }}">
        {{#if hasFolders}}
        <select class="unselect" name="folder">
            {{ selectOptions folders selected=folder labelAttr="name" valueAttr="id" }}
        </select>
        {{/if}}
    </header>
    {{#if hasTypes}}
    <ol class="unlist card">
        {{#each types}}
        <li {{~#if hint}} data-tooltip="{{ hint }}"{{/if}}>
            <label>
                {{ dnd5e-icon icon alt=label }}
                <span>{{ label }}</span>
                <input type="radio" name="type" value="{{ type }}" required {{checked (eq type ../type)}}
                       {{ disabled disabled }}>
            </label>
        </li>
        {{/each}}
    </ol>
    {{/if}}
</div>
