<form id="document-create" autocomplete="off">
    <header>
        <input type="text" class="document-name uninput" name="name" value="{{ name }}" autofocus
               placeholder="{{ localize 'Name' }}">
        {{#if hasFolders}}
        <select class="unselect" name="folder" form="document-create">
            {{ selectOptions folders selected=folder labelAttr="name" valueAttr="id"
                             blank=(localize "DOCUMENT.Folder") }}
        </select>
        {{/if}}
    </header>
    <ol class="unlist card">
        {{#each types}}
        <li {{~#if hint}} data-tooltip="{{ hint }}"{{/if}}>
            <label>
                {{#if svg}}
                <dnd5e-icon src="{{ icon }}"></dnd5e-icon>
                {{else}}
                <img src="{{ icon }}" alt="{{ label }}">
                {{/if}}
                <span>{{ label }}</span>
                <input type="radio" name="type" value="{{ type }}" required {{checked (eq type ../type)}}
                       {{ disabled disabled }}>
            </label>
        </li>
        {{/each}}
    </ol>
</form>
