<form autocomplete="off">
    <p class="notes">{{localize "DND5E.SensesConfigHint"}}</p>
    {{#each senses as |sense name|}}
    <div class="form-group">
        <label>{{sense.label}}</label>
        {{numberInput sense.value name=(concat @root.keyPath "." name) placeholder=sense.placeholder step=0.1 min=0}}
    </div>
    {{/each}}
    <div class="form-group">
        <label>{{localize "DND5E.MovementUnits"}}</label>
        <select name="{{keyPath}}.units">
            {{selectOptions movementUnits selected=units blank=unitsPlaceholder}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "DND5E.SenseSpecial"}}</label>
        <input type="text" name="{{keyPath}}.special" value="{{special}}"/>
    </div>
    <button type="submit"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>
