<fieldset>
    <legend>{{ localize "DND5E.Source" }}</legend>{{log this}}
    <div class="form-group">
        <label>{{ localize "DND5E.SourceBook" }}</label>
        <div class="form-fields">
            <input type="text" name="{{ keyPath }}.book" value="{{ source.book }}" list="{{ partId }}-books"
                   placeholder="{{ data.bookPlaceholder }}">
            <datalist id="{{ partId }}-books">
                {{ selectOptions CONFIG.sourceBooks }}
            </datalist>
        </div>
    </div>
    {{ formField fields.page value=source.page label="DND5E.SourcePage" localize=true }}
    {{ formField fields.custom value=source.custom label="DND5E.SourceCustom" localize=true }}
    {{ formField fields.license value=source.license label="DND5E.SourceLicense" localize=true }}
    {{#if hasSourceId}}
    <div class="form-group">
        <label>{{ localize "DND5E.SourceUUID" }}</label>
        <div class="source-uuid">
            {{{ dnd5e-linkForUuid sourceUuid }}}
        </div>
    </div>
    {{/if}}
</fieldset>
