<fieldset>
    <legend>{{ localize "DND5E.Scroll.Details" }}</legend>
    <div class="form-group">
        <label>{{ localize "TYPES.Item.spell" }}</label>
        <div class="form-fields">
            {{{ anchor }}}
        </div>
    </div>
    {{#each fields}}
        {{ formField field name=name value=value options=options input=input }}
    {{/each}}
    <div class="form-group">
        <label>{{ localize "DND5E.Scroll.Values" }}</label>
        <div class="form-fields">
            {{ formField values.dc name="values.dc" value=config.values.dc placeholder=valuePlaceholders.dc
                         classes="label-top" }}
            {{ formField values.bonus name="values.bonus" value=config.values.bonus placeholder=valuePlaceholders.bonus
                         classes="label-top" }}
        </div>
    </div>
</fieldset>
