<section class="standard-form scrollable">
    {{> "dnd5e.formlist" fields }}
    <fieldset>
        <legend>
            {{ localize "DND5E.REGIONBEHAVIORS.ROTATEAREA.FIELDS.positions.label" }}
            <a class="control icon fa-solid fa-plus fa-fw" data-action="addPosition" data-tooltip
               aria-label="{{ localize 'DND5E.REGIONBEHAVIORS.ROTATEAREA.Action.AddPosition' }}"></a>
        </legend>
        {{#each positions}}
        <div class="flexrow position" data-index="{{ @index }}">
            {{ formField fields.angle name=(concat "system.positions." @index ".angle") value=data.angle }}
            <a class="control icon fa-solid fa-arrows-rotate fa-fw" data-action="rotateToPosition" data-tooltip
               aria-label="{{ localize 'DND5E.REGIONBEHAVIORS.ROTATEAREA.Action.RotateToPosition' }}"></a>
            <a class="control icon fa-solid fa-trash fa-fw" data-action="deletePosition" data-tooltip
               aria-label="{{ localize 'DND5E.REGIONBEHAVIORS.ROTATEAREA.Action.DeletePosition' }}"></a>
        </div>
        {{/each}}
    </fieldset>
</section>
