<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DND5E.ItemName'}}">
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary flexrow">
        <li>
          <select name="system.rarity">
            {{selectOptions config.itemRarity selected=system.rarity blank=""}}
          </select>
        </li>
        <li>
          {{> "dnd5e.item-source"}}
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="contents">{{localize "DND5E.Contents"}}</a>
    <a class="item" data-tab="description">{{localize "DND5E.Description"}}</a>
    <a class="item" data-tab="details">{{localize "DND5E.Details"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">

    {{!-- Contents Tab --}}
    <div class="tab inventory flexcol" data-group="primary" data-tab="contents">
      <div class="inventory-header flexrow">
        <div class="currency flexrow">
          {{#each system.currency as |v k|}}
            <label class="denomination {{k}}">{{lookup (lookup @root.config.currencies k) "label"}}</label>
            {{numberInput v name=(concat "system.currency." k)}}
          {{/each}}
        </div>
      </div>
      <ol class="items-list inventory-list">
        <li class="items-header flexrow">
          <h3 class="item-name flexrow">{{localize "DND5E.Contents"}}</h3>

          <div class="item-detail item-weight">{{localize "DND5E.Weight"}}</div>
          <div class="item-detail item-quantity">{{localize "DND5E.QuantityAbbr"}}</div>

          {{#if @root.editable}}
            <div class="item-controls flexrow"></div>
          {{/if}}
        </li>

        {{#each items as |item|}}
        {{#dnd5e-itemContext this as |ctx|}}
          <li class="item flexrow {{#if ctx.isExpanded}}expanded{{/if}}" data-item-id="{{item.id}}">
            <div class="item-name flexrow rollable">
              <div class="item-image item-action" data-action="use" style="background-image: url('{{item.img}}')"></div>
              <h4 class="item-action" data-action="expand">{{item.name}}</h4>
              {{#if item.attunement}}
                <div class="item-detail attunement">
                  <i class="fas {{item.attunement.icon}} {{item.attunement.cls}}"
                    title="{{localize item.attunement.title}}"></i>
                </div>
              {{/if}}
            </div>

            <div class="item-detail item-weight">
              <div class="item-detail">
                {{ctx.totalWeight}} {{@root.weightUnit}}
              </div>
            </div>

            <div class="item-detail item-quantity">
                <input type="number" value="{{item.system.quantity}}" min="0" step="1" placeholder="0"
                  data-name="system.quantity">
            </div>

            {{#if @root.editable}}
              <div class="item-controls flexrow">
                <a class="item-control item-action" data-action="edit" title="{{localize 'DND5E.ItemEdit'}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-action" data-action="delete" title="{{localize 'DND5E.ItemDelete'}}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            {{/if}}

            {{#if ctx.expanded}}
              {{> "dnd5e.item-summary" ctx.expanded}}
            {{/if}}
          </li>
        {{/dnd5e-itemContext}}
        {{/each}}
      </ol>

      <div class="capacity" role="meter" aria-label="{{localize 'DND5E.ItemContainerCapacity'}}"
           aria-value="{{capacity.pct}}" aria-valuetext="{{capacity.value}} {{capacity.units}}"
           aria-valuemin="0" aria-valuemax="{{capacity.max}}" style="--percentage: {{capacity.pct}}%">
      </div>
    </div>

    {{!-- Description Tab --}}
    {{> "dnd5e.item-description"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "DND5E.ItemContainerDetails"}}</h3>

      <div class="form-group stacked">
        <label>{{ localize "DND5E.ItemContainerStatus" }}</label>
        <label class="checkbox">
            <input type="checkbox" name="system.equipped" {{ checked system.equipped }}>
            {{ localize "DND5E.Equipped" }}
        </label>
      </div>

      <div class="form-group">
        <label>{{localize "DND5E.ItemContainerCapacity"}}</label>
        <div class="form-fields">
          {{numberInput system.capacity.value name="system.capacity.value" placeholder="&mdash;"}}
        </div>
      </div>

      <div class="form-group">
        <label>{{localize "DND5E.ItemContainerCapacityType"}}</label>
        <select name="system.capacity.type">
          {{selectOptions config.itemCapacityTypes selected=system.capacity.type}}
        </select>
      </div>

      <div class="form-group">
        <label>{{localize "DND5E.Attunement"}}</label>
        <select name="system.attunement" data-dtype="Number">
            {{selectOptions config.attunements selected=system.attunement}}
        </select>
      </div>

      <div class="form-group stacked">
        <label>{{localize "DND5E.ItemContainerProperties"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="system.capacity.weightless" {{checked system.capacity.weightless}}>
          {{localize "DND5E.ItemContainerWeightless"}}
        </label>
      </div>
  </section>
</form>
