<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SHAPER.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.equipmentTypes system.armor.type }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank="&nbsp;"}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'SHAPER.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SHAPER.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SHAPER.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SHAPER.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "shaper.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SHAPER.ItemEquipmentDetails" }}</h3>

            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.ItemEquipmentType" }}</label>
                <select name="system.armor.type">
                    <option value=""></option>
                    <optgroup label="{{ localize "SHAPER.Armor" }}">
                        {{selectOptions config.armorTypes selected=system.armor.type}}
                    </optgroup>
                    {{selectOptions config.miscEquipmentTypes selected=system.armor.type}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "SHAPER.ItemEquipmentBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            {{#unless isMountable}}
            <div class="form-group">
                <label>{{localize "SHAPER.Attunement"}}</label>
                <select name="system.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=system.attunement}}
                </select>
            </div>

            {{!-- Equipment Status --}}
            <div class="form-group stacked">
                <label>{{ localize "SHAPER.ItemEquipmentStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.proficient" {{checked system.proficient}}/> {{ localize "SHAPER.Proficient" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "SHAPER.Equipped" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "SHAPER.Identified" }}
                </label>
            </div>
            {{/unless}}


            {{#if hasDexModifier}}
            {{!-- Dexterity Modifier --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.ItemEquipmentDexMod" }}</label>
                <div class="form-fields">
                    {{numberInput system.armor.dex name="system.armor.dex" placeholder=(localize "SHAPER.Unlimited")}}
                </div>
            </div>
            {{/if}}

            {{#if isArmor}}
            {{!-- Required Strength --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.ItemRequiredStr" }}</label>
                <div class="form-fields">
                    {{numberInput system.strength name="system.strength" placeholder=(localize "SHAPER.None")}}
                </div>
            </div>

            {{!-- Stealth Disadvantage --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.ItemEquipmentStealthDisav" }}</label>
                <input type="checkbox" name="system.stealth" {{checked system.stealth}}/>
            </div>
            {{/if}}

            {{#if isMountable}}
            {{> "shaper.item-mountable"}}
            <div class="form-group">
                <label>{{localize 'SHAPER.Speed'}}</label>
                <div class="form-fields">
                    {{numberInput system.speed.value name="system.speed.value" placeholder="0"}}
                    <span class="sep">{{localize 'SHAPER.FeetAbbr'}}</span>
                    <input type="text" name="system.speed.conditions"
                           value="{{system.speed.conditions}}">
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "SHAPER.ItemEquipmentUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "shaper.item-activation"}}

            <h3 class="form-header">{{ localize "SHAPER.ItemEquipmentAction" }}</h3>

            {{!-- Item Action Template --}}
            {{> "shaper.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "shaper.active-effects"}}
        </div>
    </section>
</form>
