<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SHAPER.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{labels.featType}}
                </li>
                <li>
                    <input type="text" name="system.requirements" value="{{system.requirements}}" placeholder="{{ localize 'SHAPER.Requirements' }}"/>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'SHAPER.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SHAPER.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SHAPER.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SHAPER.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "shaper.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <h3 class="form-header">{{ localize "SHAPER.FeatureUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "shaper.item-activation"}}

            {{!-- Recharge Requirement --}}
            {{#if system.activation.type}}
            <div class="form-group recharge">
                <label>{{ localize "SHAPER.FeatureCooldown" }}</label>
                <div class="form-fields">
                    <span>{{ localize "SHAPER.TimeRound" }}</span>
                    {{numberInput system.recharge.value name="system.recharge.value"}}
                    <label class="checkbox">
                        {{ localize "SHAPER.Charged" }}
                        <input type="checkbox" name="system.recharge.charged" {{checked system.recharge.charged}}/>
                    </label>
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "SHAPER.FeatureAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "shaper.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "shaper.active-effects"}}
        </div>
    </section>
</form>
