<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SHAPER.SpellName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{labels.level}}
                </li>
                <li>
                    {{labels.school}}
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'SHAPER.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SHAPER.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SHAPER.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SHAPER.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "shaper.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SHAPER.SpellDetails" }}</h3>

            {{!-- Spell Level --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.SpellLevel" }}</label>
                <select name="system.level" data-dtype="Number">
                    {{#select system.level}}
                    {{#each config.spellLevels as |name lvl|}}
                    <option value="{{lvl}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.SpellSchool" }}</label>
                <select name="system.school">
                    {{#select system.school}}
                    {{#each config.spellSchools as |name sch|}}
                    <option value="{{sch}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell Components --}}
            <div class="spell-components form-group stacked">
                <label>{{ localize "SHAPER.SpellComponents" }}</label>
                {{#each config.spellComponents as |component key|}}
                <label class="checkbox">
                    <input type="checkbox" name="system.components.{{key}}" {{checked (lookup ../system.components key)}}>
                    {{component.label}}
                </label>
                {{/each}}
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>{{ localize "SHAPER.SpellMaterials" }}</label>
                <input class="materials" type="text" name="system.materials.value" value="{{system.materials.value}}"/>
                {{#if system.materials.value}}
                <div class="spell-materials flexrow">
                    <label>{{ localize "SHAPER.Supply" }}</label>
                    {{numberInput system.materials.supply name="system.materials.supply" placeholder="0"}}
                    <label>{{ localize "SHAPER.CostGP" }}</label>
                    {{numberInput system.materials.cost name="system.materials.cost" placeholder="&mdash;"}}
                    <label>{{ localize "SHAPER.Consumed" }}</label>
                    <input type="checkbox" name="system.materials.consumed" {{checked system.materials.consumed}}/>
                </div>
                {{/if}}
            </div>

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>{{ localize "SHAPER.SpellPreparationMode" }}</label>
                <div class="form-fields">
                    <label class="checkbox prepared">
                        {{ localize "SHAPER.SpellPrepared" }} <input type="checkbox" name="system.preparation.prepared" {{checked system.preparation.prepared}}/>
                    </label>
                    <select name="system.preparation.mode">
                        {{ selectOptions config.spellPreparationModes selected=system.preparation.mode }}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{ localize "SHAPER.SpellCastingHeader" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "shaper.item-activation"}}

            <h3 class="form-header">{{ localize "SHAPER.SpellEffects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "shaper.item-action"}}

            {{!-- Spell Level Scaling --}}
            <div class="form-group">
                <label>{{ localize "SHAPER.LevelScaling" }}</label>
                <div class="form-fields">
                    <select name="system.scaling.mode">
                        {{#select system.scaling.mode}}
                        {{#each config.spellScalingModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input type="text" name="system.scaling.formula" value="{{system.scaling.formula}}" placeholder="{{ localize 'SHAPER.ScalingFormula' }}"/>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "shaper.active-effects"}}
        </div>
    </section>
</form>
