<div class="textbox {{ class }}">
    <h3 class="icon">
        {{#if icon}}<i class="{{ icon }}"></i>
        {{~else if svg}}<dnd5e-icon src="systems/dnd5e/icons/svg/{{ svg }}.svg"></dnd5e-icon>{{/if}}
        <span class="roboto-upper">{{ localize label }}</span>
    </h3>
    {{#if @root.editable}}
    <textarea class="untext" name="{{ name }}">{{ value }}</textarea>
    {{else}}
    <p>{{ dnd5e-textFormat value }}</p>
    {{/if}}
</div>
