<{{ elements.inventory }} class="inventory-element" v2>

    {{!-- Searching, Filtering, & Sorting --}}
    <item-list-controls for="features" label="{{ localize "DND5E.FeatureSearch" }}" sort="toggle"
                        group-label="{{ localize "DND5E.FilterGroupOrigin" }}" collection="items">
        <datalist>
            <option value="action">{{ localize "DND5E.Action" }}</option>
            <option value="bonus">{{ localize "DND5E.BonusAction" }}</option>
            <option value="reaction">{{ localize "DND5E.Reaction" }}</option>
            <option value="legendary">{{ localize "DND5E.LegendaryActionLabel" }}</option>
            <option value="lair">{{ localize "DND5E.LairActionLabel" }}</option>
        </datalist>
    </item-list-controls>

    {{!-- Features List --}}
    <section class="items-list features-list" data-item-list="features">

        {{!-- Sections / Categories --}}
        {{#each sections}}
        <div class="items-section card" {{ dnd5e-dataset dataset }}>

            {{!-- Section Header --}}
            <div class="items-header header">
                <h3 class="item-name">{{ localize label }}</h3>
                <div class="item-header item-uses">{{ localize "DND5E.Uses" }}</div>
                <div class="item-header item-roll">{{ localize "DND5E.SpellHeader.Roll" }}</div>
                <div class="item-header item-formula">{{ localize "DND5E.SpellHeader.Formula" }}</div>
                <div class="item-header item-controls"></div>
            </div>

            {{!-- Section Contents --}}
            <ol class="item-list unlist">
                {{#each items as |item|}}
                {{#dnd5e-itemContext item as |ctx|}}

                {{!-- Items --}}
                <li class="item" data-item-id="{{ item.id }}" data-entry-id="{{ item.id }}"
                    data-item-name="{{ item.name }}" data-item-sort="{{ item.sort }}">

                    {{!-- Item Name --}}
                    <div class="item-name item-action item-tooltip {{ @root.rollableClass }}" role="button"
                         data-action="use" aria-label="{{ item.name }}">
                        <img class="item-image gold-icon" src="{{ item.img }}" alt="{{ item.name }}">
                        <div class="name name-stacked">
                            <span class="title">{{ item.name }}</span>
                            {{#if ctx.subtitle}}
                            <span class="subtitle">{{{ ctx.subtitle }}}</span>
                            {{/if}}
                        </div>
                        <div class="tags">
                            {{#each item.labels.properties}}
                            {{#if icon}}
                            <span aria-label="{{ label }}">
                                <dnd5e-icon src="{{ icon }}"></dnd5e-icon>
                            </span>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>

                    {{!-- Item Uses --}}
                    <div class="item-detail item-uses {{#unless ctx.hasUses}}empty{{/unless}}">
                        {{#if ctx.hasUses}}
                        <input type="text" value="{{ item.system.uses.value }}" placeholder="0" data-dtype="Number"
                               data-name="system.uses.value" inputmode="numeric" pattern="[+=\-]?\d*">
                        <span class="separator">&sol;</span>
                        <span class="max">{{ item.system.uses.max }}</span>
                        {{/if}}
                    </div>

                    {{!-- Attack / DC --}}
                    <div class="item-detail item-roll {{#if (and (not item.system.save.ability) (not ctx.toHit))}}empty{{/if}}">
                        {{#if ctx.toHit}}
                        <span class="sign">{{ ctx.toHit.sign }}</span>
                        <span class="value">{{ ctx.toHit.abs }}</span>
                        {{else if item.system.save.ability}}
                        <div class="stacked">
                            <span class="ability">
                                {{ lookup (lookup @root.config.abilities item.system.save.ability) "abbreviation" }}
                            </span>
                            <span class="value">{{ item.system.save.dc }}</span>
                        </div>
                        {{/if}}
                    </div>

                    {{!-- Formula --}}
                    <div class="item-detail item-formula {{#unless item.labels.derivedDamage}}empty{{/unless}}">
                        {{#each item.labels.derivedDamage}}
                        <div class="row">
                            <span class="formula">{{ formula }}</span>
                            {{#with (lookup @root.labels.damageAndHealing damageType)}}
                            <span data-tooltip="{{ label }}" aria-label="{{ label }}">
                            <dnd5e-icon src="{{ icon }}"></dnd5e-icon>
                            </span>
                            {{/with}}
                        </div>
                        {{/each}}
                    </div>

                    {{!-- Item Status --}}
                    <div class="item-detail item-controls">

                        {{#if @root.editable}}
                        {{!-- Editing --}}
                        <a class="item-control item-action" data-action="edit" data-tooltip="DND5E.ItemEdit"
                           aria-label="{{ localize "DND5E.ItemEdit" }}">
                            <i class="fas fa-pen-to-square"></i>
                        </a>

                        {{!-- Deleting --}}
                        <a class="item-control item-action" data-action="delete" data-tooltip="DND5E.ItemDelete"
                           aria-label="{{ localize "DND5E.ItemDelete" }}">
                            <i class="fas fa-trash"></i>
                        </a>
                        {{/if}}

                        {{!-- Context Menu --}}
                        <a class="item-control interface-only" data-context-menu
                           aria-label="{{ localize "DND5E.AdditionalControls" }}">
                            <i class="fas fa-ellipsis-vertical"></i>
                        </a>

                    </div>

                </li>

                {{/dnd5e-itemContext}}
                {{/each}}
            </ol>

        </div>
        {{/each}}

    </section>

</{{ elements.inventory }}>
